[2020-09-04 07:21] glepnir commented on #191
@haorenW1025  I saw it. Ok i wil give it try.

[2020-09-04 07:39] glepnir commented on #191
It works. but another question. the snippet doesn't work. I used the vsnip. seems like completion-nvim redefine the confirm and I need to call it.
![test](https://user-images.githubusercontent.com/41671631/92212637-dacba000-eec4-11ea-81b6-8bb774d14e6d.gif)

[2020-09-04 08:15] haorenW1025 commented on #191
Ahh there's also some dependency here, you should call `lua require'completion'.confirmCompletion()` before completeDone. But this might be refactored out later though.

[2020-09-04 08:38] glepnir commented on #191
I saw it just set the `manager.confirmedCompletion` to ture. then call it on `on_CompleteDone()` then exec `hasConfirmedCompletion()` .And the  `hasConfirmedCompletion()` is a local function. I can't call it.  I call the `confirmCompletion()` but nothing happend.
[code]

[2020-09-04 09:09] haorenW1025 commented on #191
Not sure what actually is happened now... Actually I don't think `on_attach` should be lazyload when insertEnter because it set up multiple autocmd (as you might see in the source code). The proper way should be calling it on BufEnter, also the overhead of setting those autocmd up shouldn't be that heavy so there is no need to lazyload it.

[2020-09-04 09:17] glepnir commented on #191
Thanks for your explanation, I think the plugin should only provide functions and api. So users can customize more things based on them. BufEnter will be loaded at startup. I don't want to affect my startup time because of it. For me, I prefer the plugin to enable it where it is needed.

[2020-09-04 09:21] archseer commented on #184
Fixed! Interestingly, the built-in LSP has the same bug with function signature popups though.

[2020-09-04 09:24] archseer opened #192 "No signature popup when cycling through snippet-based functions on Rust"
It will show the docs for modules and structs, but functions are exposed as snippets in rust-analyzer. No docs are shown for these even though there is one available:

https://asciinema.org/a/s6RV6qw3fgweBAeFUsh9S9k4g

[2020-09-04 09:26] archseer commented on #192
Oh I guess I'm running into https://github.com/nvim-lua/completion-nvim/pull/29 ?

[2020-09-04 11:27] haorenW1025 commented on #192
Maybe not #29? But that clearly seems as a bug to me. Is that `rust-analyzer` or `rls`?

[2020-09-04 11:39] archseer commented on #192
It's rust-analyzer, I'll post my config later.

[2020-09-04 12:18] #191 closed

[2020-09-04 13:05] ybc37 opened #193 "Completions from rls (rust) are inserted with function signature"
In rust (with rls), after completing a function call, the whole function signature (-> with parameters) is inserted as text. So it's always needed to override those manually, what is pretty time consuming and annoying ;)

It's hard for me to tell if it's an issue in completion-nvim, neovim or rls. But as the issue occurs when selecting completion results, I hope that's the right place.

**My testi

[2020-09-04 13:13] archseer commented on #192
Here's my setup:

[code]

[2020-09-04 18:52] f-person commented on #193
Same happens for Go with gopls

[2020-09-05 00:51] Xuyuanp commented on #193
Please see #175

[2020-09-05 06:37] glepnir opened #194 "user_data a nil value."
Occasionally get such errors. What might be missing?
[code]

[2020-09-05 14:11] f-person commented on #193
Thanks! This works well.

[2020-09-06 06:01] haorenW1025 commented on #194
Should be fixed in the latest commit. Please update and check.

[2020-09-06 06:03] glepnir commented on #194
yes should be check if it's nil. aha.. I had fix it,But forget send pr.

[2020-09-06 06:03] #194 closed

[2020-09-06 06:04] haorenW1025 commented on #193
That's the snippets from LSP, so there's nothing I can do from completion-nvim. One solution you can use is use `vim-vsnip`(plus `vim-vsnip-integ` to have nice expansion of the snippets and it works out of the box with completion-nvim. Another solution is follow the code snippets in #178 and disable all LSP snippets.

[2020-09-06 06:04] #193 closed

[2020-09-06 06:05] haorenW1025 commented on #194
I normally make sure `user_data` is not nil when I'm inserting complete_items... But still checking if it's nil is not a big deal:)

[2020-09-06 06:08] haorenW1025 commented on #192
Ahh I guess I know what happens here. It's because completion-nvim send hover request under the cursor, but the items have snippets in it so lsp cannot recognize the request.. Let me think how can I tackle this issue...

[2020-09-06 06:09] glepnir commented on #194
Another question , can we trigger signature help when we confirm  like coc?
![image](https://user-images.githubusercontent.com/41671631/92319421-83efd300-f04a-11ea-9d1d-dda64f25fa4a.png)

[2020-09-06 06:19] haorenW1025 commented on #168
Now you can specify `g:completion_sorting = length_desc` to get sorting via length descending.

[2020-09-06 06:19] #168 closed

[2020-09-06 09:17] mangelozzi commented on #168
@haorenW1025 Thanks so much! It be great!

[2020-09-06 17:03] ybc37 commented on #193
Thanks for helping and pointing to solutions!

Unfortunately, I can't make it work with `vim-vsnip` (+ `vim-vsnip-integ`). I have the feeling I'm missing something :( Installed both plugins, read the docs, played around with config, mappings, used a minimal vim config, healthcheck is fine,... Still the behavior is exactly the same as before.
Maybe someone got it work can describe the steps and may

[2020-09-07 08:18] haorenW1025 commented on #193
@ybc37 Can you post your minimal config? I've tested it and arguments expansion works great on my side with rls and vim-vsnip(vim-vsnip-integ). It'd be better if you can post it so me and maybe @hrsh7th can help find out what went wrong.

[2020-09-07 08:25] haorenW1025 commented on #194
Not sure what you mean be `when we confirm`... Feel free to open another PR and elaborate more on it:)

[2020-09-07 08:45] hrsh7th commented on #193
It seems misconfiguration for the LSP server.

https://github.com/ybc37/dotfiles/blob/master/nvim/.config/nvim/init.vim#L297

You should set `snippetSupport=true` like as below.

[code]

[2020-09-07 08:47] hrsh7th commented on #193
Hm...
The `snippetSupport=true` seems to make confusing for some users.
The same question seems to be posted many times

[2020-09-07 17:05] gitabaz opened #199 "Errors when doing completions"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**

[code]

**How to reproduce**
[![asciicast](https://asciinema.org/a/mFg0EROZhI7gUF22CqPx3VSrG.svg)](https://asciinema.org/a/mFg0EROZhI7gUF22CqPx3VSrG)

[2020-09-07 20:13] ybc37 commented on #193
I thought `snippetSupport` defaults to `true`? If I set it to `false` it makes a different (function parameters are not inserted anymore).

Anyway, this is the minimal config I tested with:

[code]

My test case is trying to complete `String::from([...])` (as in the screencast above). I think the `vsnip#[...]` functions return false. Also the completions of `String::from` aren't listed as snippets

[2020-09-07 20:32] flocc commented on #199
Same here. Was working fine earlier.

[2020-09-08 07:08] ckipp01 commented on #199
Came here to report the same 👍

[2020-09-08 07:34] haorenW1025 commented on #199
Should be fixed by the latest commit, please update and check!

[2020-09-08 07:36] haorenW1025 commented on #199
Hmm I guess there are some edge case which will still produce similar errors, but the commit should fix most of the case.

[2020-09-08 07:56] flocc commented on #199
Fixed, thanks!

[2020-09-08 09:06] ckipp01 commented on #199
If it helps, this completion is still throwing the error for me.

[code]

[2020-09-08 11:46] haorenW1025 commented on #199
@ckipp01 Can you try updating neovim to the latest master? It seems to fix it on my side.

[2020-09-08 12:53] ckipp01 commented on #199
Just checked, and yes! All good now 👍

[2020-09-08 12:54] haorenW1025 commented on #199
Nice! Closing this now.

[2020-09-08 12:54] #199 closed

[2020-09-11 10:31] ahmedelgabri opened #203 "Performance issues with large codebases"
I'm facing massive performance issues with a project that I'm working on which contains ~500k TypeScript files. In this codebase completion is nearly unusable, causes lots of lua & out of memory errors & crashes the native LSP.

To make sure this was not the native LSP itself, I did the following:

- Removed all the plugins
- Installed all of them including [`nvim-lspconfig`](https://github.com/ne

[2020-09-11 15:16] haorenW1025 commented on #203
That's sad to hear. In fact, I'm also facing the same issue with large c++ file with clangd as the lsp. Not quite sure why the file size will cause the performance drag though but I'll look into that. Right now the temporary solution is using `:CompletionToggle` to toggle on and off completion when facing giant file size(shouldn't be often).

[2020-09-11 23:49] sharksforarms opened #204 "Possibly conflicting with Ultisnips?"
**My testing minimal init.vim**
[code]

**How to reproduce**
Attempt to cycle through or complete something, the tab on the completion menu seems to be overridden by Ultisnips

![Peek 2020-09-11 19-46](https://user-images.githubusercontent.com/10912917/92981383-8b0e4b00-f467-11ea-9518-3808befc2041.gif)

**Expected behavior**
Pop-up including both snippets and completions and tab to cycle through

[2020-09-11 23:54] sharksforarms opened #205 "Fix `Plug` in trouble-shooting page"
Just noticed this when creating another report:

https://github.com/nvim-lua/completion-nvim/wiki/trouble-shooting#test-completion-nvim-with-a-clean-enviornment

`Plug 'haorenW1025/completion-nvim'`

should be

`Plug 'nvim-lua/completion-nvim'`

[2020-09-12 12:54] Ogromny opened #206 "Completion window is too wide"
Hi,

Is it possible to truncate completion suggestion like in ncm2 ?

Actual:
![Actual](https://i.imgur.com/kgSdg7n.png)

Ncm2 with truncate (three dot):
![NCM2](https://user-images.githubusercontent.com/51378896/58932549-76231200-8764-11e9-82a4-2c23ecaad4cb.png)

[2020-09-14 16:21] haorenW1025 commented on #192
@archseer Can you see if #208 fix your issue?

[2020-09-14 16:50] hrsh7th commented on #203
I found a bit of bad behavior.

For example, a typical completion plugin sends one request in `|` -> `console|` case but the completion-nvim send 7 requests for `c` `o` `n` `s` `o` `l` `e`.

But this behavior is right if the server returns `isIncomplete=true` on the first response.

[2020-09-14 16:50] haorenW1025 commented on #206
I've added `g:completion_menu_length` in the PR. The default value is 0(which means no truncate at all). Can you check if it works for you?

[2020-09-14 18:33] Ogromny commented on #206
Thanks it's works !

[2020-09-15 05:13] glepnir opened #210 "Trigger signaturehelp window?"
check https://github.com/neovim/neovim/pull/12900  I had fix error when auto trigger signature help window. so can we readd this support? If you are worried, other issues will still be triggered. Please use [f34eeba](https://github.com/neovim/neovim/commit/f34eeba2d85b4382d7504e1f3e12a7afb0788c1d) to build and test. It works for me .
` api.nvim_command("autocmd CompleteDone <buffer> lua vim.lsp.bu

[2020-09-15 06:54] #206 closed

[2020-09-15 08:48] haorenW1025 commented on #192
It should be fixed. Feel free to reopen if it still doesn't work.

[2020-09-15 08:48] #192 closed

[2020-09-15 09:24] AlxHnr opened #211 "Default confirmation mapping is broken"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue

[code]

**How to reproduce**
Detailed step to reproduce this issue.

Example Code:

[code]

Completion prompt:

![before](https://user-images.githubusercontent.com/8235638/9319139

[2020-09-15 09:32] ahmedelgabri commented on #203
But a right behaviour doesn't always mean a good experience, maybe it should debounce & batch these requests instead of sending letter by letter

[2020-09-15 11:36] haorenW1025 commented on #203
@ahmedelgabri Can you provide the project you mentioned? I've done a little test on my side but my issue seems to be on the clangd side.. Otherwise I would have to push a testing branch and you might need to help me test about that.

[2020-09-15 11:40] ahmedelgabri commented on #203
Unfortunately I can't do that. I'm fine with testing though

[2020-09-15 12:51] #210 closed

[2020-09-16 02:03] haorenW1025 commented on #211
I've mapped `<CR>` because we have to confirm the completion and expand snippets items, and I want to make sure snippets wasn't expand because of some other keys but only on the confirm key. Also it does help providing a more out of the box behavior. However, right now I do think that this should be a recommended setting instead of mapping by default. I have to think how should it be implemented t

[2020-09-16 09:40] haorenW1025 commented on #205
Fixed. Thanks for the report!

[2020-09-16 09:40] #205 closed

[2020-09-16 09:44] haorenW1025 commented on #204
I can't do anything with this issue though because Ultisnips overwrite the keymaps... Please consider changing the expand keys for ultisnips or using `\<c-n>` and `\<c-p>` to navigate through popup menu.

[2020-09-16 09:44] #204 closed

[2020-09-16 10:52] AlxHnr commented on #211
The few people out there who are running Neovim 0.5 nightly are likely to update plugins regularly. The whole native LSP thing is still messy, so better break stuff before its stable. You could remove this mapping and show a removal warning when loaded on attach. Maybe even print the command or setting to restore the previous behavior.

[2020-09-16 13:54] haorenW1025 commented on #203
Actually @mg979 have been working on a fork of `completion-nvim` ([link](https://github.com/mg979/autocomplete-nvim)). In which the redundant timers was refactored out and he solve some other issue as well. @ahmedelgabri can you take some time to test if it works for you? If so we just need to start porting things back to `completion-nvim`, if not we'll need to spend some more time to clarify what

[2020-09-16 14:08] mackarelfish commented on #211
On the image you uploaded, you don't seem any of the items on the completion thus the completion is not getting triggered. Try selecting (by pressing <c-n>), press enter and that will do the trick. If you want the completion to auto-select the first entry make sure you don't have `noinsert` on your `completeopt` setting on vim.

[2020-09-16 14:48] sharksforarms commented on #205
Still one more occurrence in: https://github.com/nvim-lua/completion-nvim/wiki/trouble-shooting#check-if-the-problem-is-in-completion-nvim-or-its-lsp-specific

[2020-09-16 14:53] ahmedelgabri commented on #203
I have tried the fork the good thing that it at least let me type & doesn't block my editor also snippets are shown right away

But it's still very slow & sometimes doesn't show completion at all, here are a couple of gifs on how it works in a `typescript.tsx` file where I do have react imported at the top of the file (this is a real file from that repo I talked about but I can't show details sorr

[2020-09-16 15:00] haorenW1025 commented on #203
@ahmedelgabri Thanks a lot for the report! I think not having editor stuck is a good new. We'll start porting some key changes back to completion-nvim and see how it goes. I think we should aim for optimizing the completion speed after the lock is disappear.

[2020-09-16 15:01] ahmedelgabri commented on #203
I will keep it running until the end of the week to get a better understanding & maybe report more issues if it happens

[2020-09-16 15:07] haorenW1025 commented on #203
Thanks a lot. Also some changes in the fork are on the improvement of signature help and hover. Can you try using completion-nvim again with hover and signature help off and see if it still sucks? That way I'll have a better understanding on what went wrong. Sorry for keep bothering you:(

[2020-09-16 15:22] ahmedelgabri commented on #203
No worries, happy to help 😊

I was already testing `completion-nvim` now again because I think I found another issue (but this is with my setup) which is `vim-gitgutter`, it slowed down vim a lot! So after removing it `completion-nvim` because more responsive, a bit slow still & still get the `cannot resume dead coroutine` errors but much usable.

So that was interesting… I will most probably get

[2020-09-16 15:22] hrsh7th commented on #203
Hi, The typescript-language-server does not support `isIncomplete` in my knowledge.

But completion-nvim sends a request on each char.

I bisected for the reason.
Then I found the e4dddd8e29224c667972fc33a2537a2e7e1e1a4c .

@ahmedelgabri Could you test with 49a2335d2f9e2c15bf597cde555ecad3bdf70663 ?

[2020-09-17 09:03] ddorstijn opened #213 "Signature help clangd is cut off if comment too long"
![image](https://user-images.githubusercontent.com/1730282/93448919-6cc7a580-f8d4-11ea-8627-383d2ebec299.png)

**My testing minimal init.vim**
[code]

**How to reproduce**
Create a function with a large documenting comment above it. Call the function and press space+k to open signature help. The comment is cut off short

**Expected behavior**
There should be some linewrapping to be able to see the

[2020-09-18 09:25] ahmedelgabri commented on #203
I tested that, but there was no major difference.

BTW, I can confirm that disabling `vim-gitgutter` or at least [disabling realtime updates](https://github.com/airblade/vim-gitgutter#faq) improved the performance greatly, I have been disabling it for a couple of days already.

Still `completion.nvim` is not as fast as `coc.nvim` but much better than before.

[2020-09-18 12:56] haorenW1025 commented on #203
Ahh okay so I think that's because `vim-gitgutter` might also do some timers and async stuff (so does completion-nvim), causing the event loop to stuck with each other therefore slow down neovim a lot. `coc-nvim` use remote API so it's still usable in this case.
Nevertheless, refactored should be done. I'll start working on it whenever I have time. @ahmedelgabri I'll keep you update about the prog

[2020-09-21 14:59] blackCauldron7 opened #214 "How to change the text that is shown on the right side of completions?"
Like UltiSnips or builtins.

I want to change these to some icons in my font.

[2020-09-21 15:39] blackCauldron7 opened #215 "Emmet Support"
**Is your feature request related to a problem? Please describe.**
It's painful to write html without emmet

**Describe the solution you'd like**
Emmet support for completion-nvim

**Describe alternatives you've considered**
UtliSnips with emmet plugin but UltiSnips is painstakingly slow.

[2020-09-22 06:22] haorenW1025 commented on #213
Hmm can you try trigger the signature help directly from vim.lsp.buf.signature_help()? If the behavior remain the same, this issue should be fixed in the neovim repo.

[2020-09-22 08:40] glepnir commented on #215
yep we should be has a completion source from emmet.

[2020-09-22 12:21] glepnir opened #216 "Can't get the path complete item."
Can't get the path completion items. my complete list
[code]
I can confirm that the `lsp snippet buffers` both work fine.

[2020-09-23 04:06] haorenW1025 commented on #215
I never done some serious html development so I have zero experience on using emmet...It would be better if others that have more knowledge on emmet can implement it.

[2020-09-23 04:07] haorenW1025 commented on #179
Closing this now since this cannot be solved on my side.

[2020-09-23 04:07] #179 closed

[2020-09-23 06:45] skbolton commented on #214
Check the wiki https://github.com/nvim-lua/completion-nvim/wiki/Customizing-LSP-label

[2020-09-23 15:48] quantum-booty opened #218 "Completion menu hides the auto hover window"
The hover is behind the autocompletion menu. Also the third column is taking so much space while not showing new information, is it possible to disable it?
![image](https://user-images.githubusercontent.com/28958399/94036431-34d0ce80-fdbc-11ea-84ff-b201c2a125f0.png)

[2020-09-23 15:59] quantum-booty opened #219 "Weird completion behavior"
The autocompletion would sometimes fill the inside of the function.
![image](https://user-images.githubusercontent.com/28958399/94037397-39e24d80-fdbd-11ea-990e-3a7acfb5fcac.png)
This behaviour seems to happen when I wait for auto-trigger:
plt. -> wait for auto-trigger -> plt.plo -> select completion -> plt.plot(scalex=..., scaley=..., data=...)
Type very fast plt.plo -> select completion -> plt.p

[2020-09-23 16:41] quantum-booty opened #220 "Can't disable trigger character"
After setting :completion_trigger_character = [], the completion is still triggering at dot, and the below command outputs {'.'}
`:lua print(vim.inspect(vim.lsp.buf_get_clients()[1].server_capabilities.completionProvider.triggerCharacters))
`

[code]

[2020-09-23 21:47] Th3Whit3Wolf opened #221 "[Feature] snippets.nvim"
**Is your feature request related to a problem? Please describe.**
I'd really like to use [snippets.nvim](https://github.com/norcalli/snippets.nvim) with completion-nvim. Both projects are awesome, fast, and written in lua.

[2020-09-24 05:59] blackCauldron7 commented on #214
Yeah I get that I can change LSP labels

[2020-09-24 06:23] haorenW1025 commented on #221
In fact, it's already built-in. A PR just updated the README:)

[2020-09-24 06:23] #221 closed

[2020-09-24 06:25] haorenW1025 commented on #214
Hmm currently you can't change the label other than lsp, but that shouldn't be hard to implement.

[2020-09-24 06:27] haorenW1025 commented on #219
This is not an issue, those are the snippets came from LSP. You can disable it by
[code]
Or you can use `vim-vsnip` and `vim-vsnip-integ` to expand the snippets items.

[2020-09-24 06:28] #219 closed

[2020-09-24 13:51] haorenW1025 commented on #214
Please try the latest commit

[2020-09-24 13:51] #214 closed

[2020-09-24 13:53] haorenW1025 commented on #216
It seems to work fine on my side. Can you try to test it using minimal config?

[2020-09-24 13:53] blackCauldron7 commented on #214
Any docs?

[2020-09-24 13:55] blackCauldron7 commented on #214
Documentation?

[2020-09-24 13:55] glepnir commented on #216
It's wired. Because other sources are working fine. Will give it a try when have time.

[2020-09-24 13:57] haorenW1025 commented on #220
That's the expected behavior, `completion-nvim` respect the triggerCharacters of LSP, triggerCharacters only added to this list. The behavior also documented in README.

[2020-09-24 13:57] #220 closed

[2020-09-24 14:26] glepnir commented on #216
...remove path item to the first.. works..Don't know why.

[2020-09-24 14:28] #216 closed

[2020-09-25 04:52] haorenW1025 commented on #213
Close because should be fixed in neovim's repo.

[2020-09-25 04:52] #213 closed

[2020-09-25 07:40] blackCauldron7 commented on #215
I could try to implement it although are there any docs on how to add completion sources?

[2020-09-25 07:52] haorenW1025 commented on #215
See wiki for some guide. Also I think there are some links in README which links to other external sources and that might be helpful. Feel free ask me anything if you're stuck:)

[2020-09-25 08:38] blackCauldron7 commented on #215
@haorenW1025 The prefix resets when a character like `>, #, .` are typed but emmet can't work without those. Is there any way to include those in prefix?

[2020-09-26 03:25] tricktux opened #223 "Mark hover and floating markdown buffers to avoid loading ftplugins"
I was hitting a performance issue, I realized that auto completion was very slow, when I set the profiler I realized that my `ftplugin/markdown.vim` was the root cause. I have quite hefty `ftplugin`, plus multiple plugins that are loaded for markdown buffers.

This is an issue because these buffers are created to display signature info, it would be great if there was a way to mark these buffers an

[2020-09-26 08:27] Shatur95 opened #224 "Markdown preview differs from screenshots"
My previews looks strange :)

Godot:

![изображение](https://user-images.githubusercontent.com/22453358/94336267-6dee8600-ffea-11ea-8e4a-6ce2388e5142.png)

Clangd:

![изображение](https://user-images.githubusercontent.com/22453358/94336287-a726f600-ffea-11ea-90c7-50e04e5a3396.png)

Is preview depends on LSP server / colorscheme?

[2020-09-26 08:52] Shatur95 commented on #224
How the same rendered in VSCode:

![изображение](https://user-images.githubusercontent.com/22453358/94336495-51ebe400-ffec-11ea-8db7-b95142c1ec1d.png)

I used almost default LSP configuration and tested without any plugins (except this, nvim-lspconfig and [vim-godot](https://github.com/habamax/vim-godot))

[2020-09-26 13:57] quantum-booty opened #225 "<CR> to select the first completion option"
Right now \<CR\> opens a new line, I would like enter to instead choose the first item if no completion item is selected.

OK the below code works:
[code]

[2020-09-26 16:35] #225 closed

[2020-09-28 05:43] ray-x opened #226 "Is it possible to start completion engine without LSP?"
**Is your feature request related to a problem? Please describe.**
nvim-lsp does not support markdown, yml etc. Is it possible to enable completion-nvim for those filetypes? (e.g I'd like to use snip and buffer auto complete)

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

[2020-09-28 06:03] ray-x commented on #226
There is an option to attach to any filetype by using `autocmd BufEnter * lua require'completion'.on_attach()`
It works fine for me. Case closed.

[2020-09-28 06:03] #226 closed

[2020-09-29 08:01] aca opened #227 "short hang at first completion"
**My testing minimal init.vim**
[code]
**How to reproduce**
In the vimrc example I used "tabnine completion" of mine.
I thought it was the problem. But I get the same issue even without it. (with lsp)

![image](https://user-images.githubusercontent.com/50316549/94529499-c769e580-0274-11eb-9a96-e70d41060f59.png)

When first completion is triggered, It always cause a short hang.

**Expected behavior

[2020-09-29 09:39] aca commented on #227
[code]

Oh, it's not caused by this plugin. Find it with debug mode.
This is caused by plugin I uninstalled which left this kind of stuffs in ```~/.local/share/nvim/rplugin.vim```.

[2020-09-29 09:39] #227 closed

[2020-09-30 21:12] Shatur95 commented on #224
The problem in Neovim markdown parser and not related to the plugin.

[2020-09-30 21:12] #224 closed

[2020-10-01 05:57] bluz71 opened #230 "[Trigger character completion] Ruby `@` is not auto-completing even though it is a trigger character"
Hello completion-nvim team,

I am a current [LSC](https://github.com/natebosch/vim-lsc) user that is looking at Neovim LSP + completion.nvim. LSC is a Vim/Neovim LSP client written in Vimscript.

On issue I notice is that `@` character in Ruby is not auto-completing in completion-nvim whilst in LSC it does.

Initially I created Neovim issue [12997](https://github.com/neovim/neovim/issues/12997) bu

[2020-10-01 06:15] vigoux commented on #230
Hey, did you have any chance to look at [this](https://github.com/nvim-lua/completion-nvim#trigger-characters) ?
I know that what you want is having this autoatically, but maybe there is a way to sync the server `triggerCharacters` and those mentionned above.

[2020-10-01 06:55] bluz71 commented on #230
@vigoux,

I have experimented with that option. It makes no difference. `@` is not completing in completion-nvim even if I hard code it in `g:completion_trigger_character`.

Note, I now believe that the server `triggerCharacters` are correctly being negotiated by Neovim LSP as noted by:

[code]

For Ruby it lists: `{ ".", ":", "@" }`.

So I think the trigger characters are being collected correctl

[2020-10-01 07:26] haorenW1025 commented on #230
This doesn't look right... I'll look into this.

[2020-10-01 07:30] haorenW1025 commented on #223
Hmm I think that's because the hover and signature help callbacks set the floating filetype as markdown. A workaround is to manually trigger hover and signature by disable the auto hover and auto signature. Setting a buffer variable shouldn't be too hard though.

[2020-10-01 07:40] haorenW1025 commented on #223
I've setup a buffer variable `b:lsp_floating` to true for the floating window in hover and signature_help. Please check if it resolve your issue.

[2020-10-01 07:46] bluz71 commented on #230
Thanks @haorenW1025.

If there are any tests or experiments you need me to run, I will be more than happy to assist.

[2020-10-01 07:59] haorenW1025 commented on #230
I'm having trouble setting up solargraph... It doesn't seems to load up even if I'm in a git repository... Do I have to add some extra configuration to get that working? Sorry I've never worked in Ruby before..

[2020-10-01 08:36] bluz71 commented on #230
It may be better to check out a proper Ruby on Rails repository.

Checkout my toy Rails application: https://github.com/bluz71/platters

Then create the test Ruby file from above inside the base of that checked out Rails application. Your Solargraph may be looking for a `Gemfile`.

If that still doesn't work then run `bundle install` at the base directory of `platters`. I suspect this step isn't n

[2020-10-01 08:38] bluz71 commented on #230
Also run these commands inside the `platters` directory:

- `solargraph download-core`

- `solargraph bundle`

[2020-10-01 08:45] bluz71 commented on #230
Note, I install Solargraph via `gem install solargraph` (not via nvim-lspconfig).

[2020-10-01 17:37] haorenW1025 commented on #230
Thanks for the guide. I can reproduce the issue now:)

[2020-10-01 18:23] haorenW1025 commented on #230
The first thing I've noticed is the completion doesn't work even if you use the omnifunc complete of built-in lsp. So this issue should only be fixed in the core repository. I'm guessing that the matching function below doesn't match the `@` character therefore the completion doesn't work.
[code]

[2020-10-01 19:12] tricktux commented on #223
Thank you. This does fix the performance problems. However does require user action. I'll experiment with seeing these buffers to a different filetype and then applying the markdown highlight.

[2020-10-01 19:14] #223 closed

[2020-10-02 02:29] bluz71 commented on #230
@haorenW1025,

Thanks for looking into this.

Ok, we need to alert Neovim upstream of this issue.

Probably best that I reopen [Neovim 12997](https://github.com/neovim/neovim/issues/12997). Your participation over there in that issue will be appreciated.

We really want to fix this issue since it really does impact users, basically completions from certain trigger characters is not working. It is

[2020-10-02 02:42] bluz71 commented on #230
Neovim [12997](https://github.com/neovim/neovim/issues/12997) has been re-opened.

It is like a game of tennis, first Neovim, then completion.nvim, back to Neovim.

Should we close this issue? I suspect yes.

[2020-10-02 05:38] bluz71 opened #231 "[Completion stutter with Dart on slow machine]: completion.nvim is not as smooth as LSC, maybe 500ms debounce needed?"
Hello again,

I am an [LSC](https://github.com/natebosch/vim-lsc) user that is looking at Neovim LSP + completion.nvim.

I am noticing that Neovim LSP + completion.nvim stutters more than LSC when completing Dart code in Flutter projects on **very slow** machines (e.g. my 2015 Core-M Macbook).

On normal machines I don't notice a difference between the two LSP/completion systems.
But on the slow I

[2020-10-03 11:24] bluz71 commented on #230
This is an upstream Neovim LSP <—> Solargraph issue.

Closing this issue.

[2020-10-03 11:24] #230 closed

[2020-10-03 11:33] bluz71 commented on #203
@ahmedelgabri,

Can you temporarily switch to the [LSC](https://github.com/natebosch/vim-lsc) plugin? It is a VimScript LSP plugin. Note, it works fine in Neovim, it is not restricted to Vim 8.

This article of mine may help you get setup: https://bluz71.github.io/2019/10/16/lsp-in-vim-with-the-lsc-plugin.html

LSC apparently uses a 500ms denounce along with no support for `isIncomplete`.

I am ke

[2020-10-03 13:20] ahmedelgabri commented on #203
@bluz71 I couldn't get the completion to work at all, I used your config, I tried to set `g:lsc_auto_map` to `v:true` & `{'defaults': v:true, 'Completion': 'omnifunc'}` nothing worked. Checking with `set omnifunc?` it's always empty. And I don't change that anywhere other than the neovim LSP config which I disabled to test LSC.

But I see that you are using [`gitgutter`](https://github.com/bluz71/

[2020-10-03 20:41] prabirshrestha commented on #203
Author of [vim-lsp](https://github.com/prabirshrestha/vim-lsp) and [asyncomplete.vim](https://github.com/prabirshrestha/asyncomplete.vim) here.

debouncing is not enough. There are other smarter ways to fix perf which asyncomplete.vim and ncm uses which is similar to VSCode. I documented my findings of how vscode is performant at https://github.com/roxma/nvim-completion-manager/issues/30#issuecomm

[2020-10-03 21:40] spimanov commented on #80
Hello! What is the reason of using  `\\k$*`? I have several snippets like #ifdef, #incl and etc. The regexp prevents to use such names, so I've changed it locally by `\\S$*` - now everything works well (for me :)) But I can't understand the reason of the \\k.

[2020-10-04 01:56] bluz71 commented on #203
That is likely an issue with respect the server command not working or not being correct. Which programming language are you using and which language server?

If you have time I am very interested in helping you get LSC working. Note, that is **not** because I want you to switch LSP clients to LSC, but rather I want the data point of how LSC performance compares with completion.nvim for you. Maybe

[2020-10-04 02:06] bluz71 commented on #203
Hello again @prabirshrestha.

If completion.nvim is sending to the server every character the uses types (which is may not be doing, I am just speculating) then a debounce of 500ms surely could be of some help (LSC uses a 500ms is not worse for that). It may not be the silver bullet.

I do agree that the tips you provide in the linked post are also highlighly worthwhile, maybe even more so than de

[2020-10-04 02:24] bluz71 commented on #231
Relevant comment by @prabirshrestha in #203:

[2020-10-04 09:45] ahmedelgabri commented on #203
That's highlight unlikely because the same server works fine when I switch back to neovim LSP, I already added `--stdio`, I was testing with typescript LS which is used like this `typescript-language-server --stdio` & that's what I had in LSC config & it's already in my `$PATH`

This was the setup I tested LSC with.

[code]

I understand that 🙂

Thanks will check that, but in my case it was not ab

[2020-10-04 10:20] bluz71 commented on #203
Try this instead:

[code]

The space between `typescript-language-server` and `--stdio` may require the use of the `command` directive. I always use `command` as noted [here](https://github.com/bluz71/dotfiles/blob/master/vim/plugin/lsc.vim).

I myself use `typescript-language-server` with JavaScript and TypeScript code.

Also, LSC automap, from my reading, does not setup `omnifunc`. I recommend d

[2020-10-04 10:51] ahmedelgabri commented on #203
Ok, I have tested LSC again & it's indeed slightly more responsive than completion-nvim, I can keep typing without any locks or hangs.

I understand that the completion list is affected by the LSP server itself & in this case, I'm not sure anything can be done here because the project is huge & `typescript-language-server` is slow.

This is the configuration I used, thanks @bluz71 for the help.

[

[2020-10-04 10:54] ahmedelgabri commented on #203
I also noticed that the `cannot resume dead coroutine` error in completion-nvim usually happens when I'm trying to complete JSX but not normal JavaScript/TypeScript code

[code]

[2020-10-04 10:59] bluz71 commented on #203
LSC should be slower since it is VimScript, which is orders of magnitude slower than LuaJIT.

That it is more responsive means there are likely inefficiencies in completion.nvim.

Thanks for testing.

[2020-10-05 01:53] bluz71 commented on #203
Ok, I think I found another potential-performance-killing item with upstream Neovim LSP when compared with LSC.

Whilst in insert mode, as changes are being made, LSC sends minimal byte range style `didChange` events to the language server, for example:

[code]

Neovim LSP, from my testing, is always sending the complete file contents after every change, for example:

[code]

How will the language

[2020-10-05 01:58] bluz71 commented on #231
Neovim LSP appears to be sending the full buffer content to the language server for every insert mode change via the `textDocument/didChange` event.

For comparison, the LSC plugin sends minimal byte range differences.

See [this post for details](https://github.com/nvim-lua/completion-nvim/issues/203#issuecomment-703356444).

The upstream Neovim LSP behaviour seems highly inefficient and could be

[2020-10-05 02:02] Shougo commented on #203
It seems neovim's LSP implementation problem.
You can create the issue.

[2020-10-05 02:06] hrsh7th commented on #203
I thought neovim built-in lsp supported it, but it seems to be my misunderstanding.

https://github.com/neovim/neovim/blob/master/runtime/lua/vim/lsp.lua#L813

[2020-10-05 02:18] bluz71 commented on #203
@hrsh7th,

I logged Ruby and JavaScript language servers and with small or huge files, Neovim is always sending the full buffer payload.

And it happens pretty frequently whilst a user is typing in new content. If one types slow enough it is after every key press.

The original poster of this issue is dealing with a big repo and maybe even big files, so the current `didChange` behaviour could well

[2020-10-05 05:25] a-vrma opened #232 "Error executing vim.schedule lua callback when using Neosnippet."
**My testing minimal init.vim**

[code]

You also need at least one snippet in the snippet directory. I have the following in `~/.config/nvim/snips/c.snip`:

[code]

**How to reproduce**

1. `nvim -u test.vim`
2. Navigate to a C source file.
3. type 'on'.
4. Select the 'once' snippet with ctrl-n and press enter to expand it.
5. Start typing any two letters to trigger auto completion (for example '

[2020-10-07 20:56] lithammer opened #234 "Add (back) support sorting by sortText and/or label"
It's currently possible to sort by 'alphabet', 'length' or 'none'. Neither are actually very useful (to me), and instead we should add back the sorting as provided by Neovim and ideally make it the default (instead of 'alphabet'):

[code]
https://github.com/neovim/neovim/blob/a260d5def363ca30f0473365ea514f2dedd0d0ba/runtime/lua/vim/lsp/util.lua#L297-L305

This more closely resembles how VS Code is

[2020-10-07 21:03] lithammer commented on #234
I would be willing to help out with a pull request as well, if you'd like.

[2020-10-09 12:54] mangelozzi opened #235 "Auto pop up behaviour makes `completeopt=longest` unusable"
**Describe the issue**
When typing say file paths, its very conviant to have `completeopt=longest,menuone`. This means that when typing, and then pressing auto-complete, it will add the longest common match, and insert it. When traversing dirs, you don't want to be fiddlind around selecting each dir as you get matches, it would be faster just to type the filepath.

However with `completion-nvim`,

[2020-10-12 11:52] ofrades commented on #49
I am getting `Error executing vim.schedule lua callback: ....vim/plugged/completion-nvim/lua/completion/matching.lua:59: attempt to call a nil value`

[2020-10-12 15:02] tami5 commented on #162
@haorenW1025 yes this also happens to me when competing a word. sometimes, when I type a letter the list flickers, I have fuzzy option set and perhaps it is related to that.

[2020-10-12 22:13] tami5 opened #237 "Completion popup flicker on every additional letter and on backspace."
**My testing minimal init.vim**

[code]

**How to reproduce**

 1. Install
 2. Open a file
 3. Type a keyword then as you type it flickers/flashes

**Expected behavior**
Completion window doesn't flicker when a letter get typed or get deleted.

[2020-10-12 23:00] astier opened #238 "g:completion_trigger_on_delete = 0 doesnt work for second source in g:completion_chain_complete_list"
**My testing minimal init.vim**

[code]

**How to reproduce**

1. Open minimal vimrc
2. `Go`
3. Type `co`
4. Delete with `backspace` the character `o`

Notice how the completions get repopulated again despite `let g:completion_trigger_on_delete = 0`. If you try to complete a path like `/bin` and delete characters with `backspace` the completions disappear and dont get repopulated as one would expe

[2020-10-12 23:39] astier opened #239 "path-completion doesnt get triggered after / if lsp-soure is defined before path in g:completion_chain_complete_list"
**My testing minimal init.vim**

[code]

**How to reproduce**

1. `o` to enter new line
2. Type `/` and notice how completion is not triggered
3. Type `b` and see completion for `/bin`

If we change the order of the lsp- and path-source

[code]
then completion is triggered directly after `/` as expected.

**Expected behavior**

Completion should be triggered directly after `/`.

[2020-10-13 01:34] bluz71 commented on #237
My Neovim setup allows me to easily switch between [LSC](https://github.com/natebosch/vim-lsc) and Neovim LSP + completion.nvim.

Both setups do roughly the same thing, auto-complete via language servers.

In my tests, Neovim LSP + completion.nvim popup rendering is exactly the same as LSC. I suspect both are populating and using Vim's completion popup.

[A recent post over on Reddit](https://www.

[2020-10-13 02:18] Shougo commented on #237
@tami5 Your reproduce steps are very fuzzy.

[2020-10-13 06:12] tami5 commented on #237
@bluz71 it makes more sense now to why am having such a different experience compered to using coc. I hope completion-nvim would support floating windows as it offer better experience

[2020-10-13 06:25] hrsh7th commented on #237
Probably, this issue relates to this https://github.com/nvim-lua/completion-nvim/pull/207

[2020-10-13 07:05] Shougo commented on #237
I have tested coc.nvim and if I use backspace, completion popup flicker.

[2020-10-13 17:14] tami5 commented on #162
#237

[2020-10-13 17:15] tami5 commented on #162
Probably, this issue relates to this #207

[2020-10-14 11:29] Dodje opened #242 "Plugin ignores file association"
Hello. I have a lua file with extension (.ds), sadly completion seems to be not able to associate it with lua and show complete menu

[code]

[2020-10-14 15:41] Th3Whit3Wolf opened #243 "What is used for highlighting"
Highlighting doesn't look great with my colorscheme . . .

![image](https://user-images.githubusercontent.com/48275422/96012406-f9b24000-0e3b-11eb-902e-1d2652ba70b0.png)

What highlights can I set to change this? I was unable to find anything in the wiki, issues, or searching through the codebase(using github's search).

[2020-10-14 16:04] lithammer commented on #243
I think that's just the regular markdown syntax highlighting of your colorscheme.

[2020-10-14 16:26] Th3Whit3Wolf commented on #243
Is there a way to change it to something else?

[2020-10-14 17:10] lithammer commented on #243
Well it's using markdown because that's what rust-analyzer is giving you. However I think you there's an alternative to use plaintext instead using something like this:

[code]

[2020-10-14 17:32] haorenW1025 commented on #243
As @lithammer mention above, the highlight is markdown syntax. You should try debugging it by opening a markdown files and use `:hi markdown` and then tab to get all possible markdown syntax highlight. Try tweaking them until it looks better.

[2020-10-14 17:32] #243 closed

[2020-10-14 17:48] haorenW1025 commented on #237
@hrsh7th Hmm so what's wrong with the PR though? If it solve the issue we should probably merge it.

@tami5 I don't think coc uses a floating window for completion since I've read their source code before... and even if it does I'm not planning to implement it. I think that since vim already have a completion mechanism built-in, we should try to stick to it without creating our own completion styl

[2020-10-14 17:48] haorenW1025 commented on #237
Ahh also @Shougo Thanks a lot for help testing it:) Really appreciate!

[2020-10-14 17:55] tami5 commented on #237
@haorenW1025 I'll try to paste a gif soon. Thanks for taking a look into the issue. Adding #207 workaround fix the issue to a great extent.

[2020-10-14 17:58] haorenW1025 commented on #232
Sorry for the long wait, but I think the latest commit should fix the issue. Feel free to reopen if it's not working.

[2020-10-14 17:58] #232 closed

[2020-10-14 18:00] haorenW1025 commented on #242
Can you see if you can setup omnifunc completion and use that in the `.ds` file? I've done some testing on my side and find out completion-nvim seems to be attached but the server is not responding.

[2020-10-14 23:43] Th3Whit3Wolf commented on #243
I get an error

[code]

Is it possible to make that output it's own filetype so that I can create my own syntax file?

[2020-10-14 23:54] theHamsta commented on #243
There's a highlight group for floating windows `NormalFloat`. Its background and basic foreground usually inherits your popup menu.

[2020-10-15 00:41] Th3Whit3Wolf commented on #243
Is that the only other option? I'd really prefer to keep NormalFloat the same as Pmenu.

[2020-10-15 05:24] haorenW1025 commented on #231
Let's close this issue because it seems to be a duplicate of #203

[2020-10-15 05:24] #231 closed

[2020-10-15 06:01] theHamsta commented on #243
I believe Normal of some identifiers makes them stand out. I have similar backgrounds in my floating windows.

[2020-10-15 08:12] hrsh7th commented on #237
My previous PR was broken when using gopls.

For example, completion-nvim#master does not show any items when the line is `fmt.Paaaaaa|`.
But My version shows `Print` `Printf` `Println` unexpectedly.

[2020-10-15 08:29] Dodje commented on #242
If I'm not mistaken, wrote this to enable
[code]
and CTRL-X CTRL-O shows

![ds-file-with-omnifunc](https://user-images.githubusercontent.com/25726086/96097462-a1ca1680-0ed9-11eb-9120-ed68ea2f116d.png)

[2020-10-15 09:05] haorenW1025 commented on #242
Ahh that is not coming from lsp. You have to set
[code]

[2020-10-15 09:58] Dodje commented on #242
Here is the result:
without
![complete-popup-without-omnifunc](https://user-images.githubusercontent.com/25726086/96108317-1905a780-0ee6-11eb-80b2-d6157d4051c5.png)
and

with
![complete-popup-with-omnifunc](https://user-images.githubusercontent.com/25726086/96108341-1f941f00-0ee6-11eb-8229-ffab5826cd69.png)

[2020-10-15 11:06] Th3Whit3Wolf commented on #243
![image](https://user-images.githubusercontent.com/48275422/96114973-35054b00-0ede-11eb-9a32-7693d2faa9fd.png)

I got this close by putting this in `after/ftplugin/rust`

[code]

It's in a function so I can call it on colorschemechange

I might be able to get the rest by making putting a syn keyword block `before/ftplugin/markdown.vim` and setting highlights in `after/ftplugin/rust.vim`. I'm not s

[2020-10-15 12:31] haorenW1025 commented on #203
Very sorry for the late replied(again).
@bluz71 If debouncing means a timers intervals of checking changed event, `completion-nvim` already have that and it's in fact a configurable variable `g:completion_timer_cycle`, the default value is 80 though which is much lower than it's in LSC. The `isIncomplete` issue should be fixed though and I'll be working on it.

@prabirshrestha Thanks a lot for the

[2020-10-15 13:03] haorenW1025 commented on #203
@hrsh7th May I ask you how do you find out the server is not supporting `isIncomplete`? For sumneko_lua it just keep sending `isIncomplete=True` and it's quite annoying.

[2020-10-15 13:13] hrsh7th commented on #203
If I want to know whatever the servers support it, I investigate lsp-client's logs.

# has isIncomplete support
- gopls
- sumneko_lua
- vim-language-server
- intelephense

# has no isIncomplete support
- typescript-language-server
- html-language-server
- css-language-server

[2020-10-15 18:32] a-vrma commented on #232
Yes, it seems to be fixed. Thanks!

[2020-10-16 01:39] bluz71 commented on #203
Debouncing means buffering up `textDocument/didChange` events and sending only one request to the language server after a certain period of inactivity (say 200-500ms) rather than after every keypress.

In the case of Neovim LSP + completion.nvim I setup `g:completion_timer_cycle` to 2 seconds and monitored communication to and from the Ruby Solargraph language server.

Every single key press in in

[2020-10-16 12:06] haorenW1025 commented on #203
Okay I understand. This doesn't seems like an issue in completion-nvim though, because the `textDocument/didChange` is not handle here. The way `completion-nvim` handle completion is by using a timers to monitor `b:changedticked`, and the timer cycle is control by `g:completion_timer_cycle`. It can be changed to something smarter though, like using `nvim_buf_attach` to trigger callbacks with chang

[2020-10-16 14:03] ChrisAmelia opened #244 "Snippet expands with TM message"
![image](https://user-images.githubusercontent.com/16366403/96265164-67d63e80-0fc5-11eb-9243-5eb7ad50e613.png)

**My testing minimal init.vim**
[code]

**How to reproduce**

1. Create a file `Test.java` with:

[code]

2. Open the file with:

[code]

3. Place the cursor below `error this is not a valid code;` and type `if` to display the snippet completion menu.

4. Select one of the snippets propo

[2020-10-17 00:12] bluz71 commented on #203
Hello @haorenW1025,

Indeed, I am now learning that `textDocument/didChange` is being triggered by upstream Neovim LSP. This is being discussed in [Neovim `didChange` issue 13049](https://github.com/neovim/neovim/issues/13049). Currently the full buffer is sent on every insert mode keypress and an interim patch to add incremental `textDocument/didChange` exposed quadratic requests per keypress bei

[2020-10-19 03:24] sjeon7 opened #245 "Add option to truncate item.menu(description)"
<img width="1977" alt="스크린샷 2020-10-19 오후 12 04 29" src="https://user-images.githubusercontent.com/26849596/96397217-fc2de480-1203-11eb-95bd-e25e592e149e.png">

**Is your feature request related to a problem? Please describe.**
There is an option for truncating the item name using g:completion_menu_length (yellow box in the picture above).
However, item.menu(description) is sometimes too long whic

[2020-10-19 04:32] sjeon7 commented on #245
Similar to #206 which abbreviate item.abbr, this is request for the option to make item.menu shorter.

[2020-10-19 08:04] khaveesh opened #246 "Highlight current argument in signature help"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the signature help doesn't show which argument that I'm typing and it is difficult to count the number of commas to figure it out.

**Describe the solution you'd like**
In the signature help that pops up, as I type in the arguments, it should highlight the argument I'm currently typing. My intuition is th

[2020-10-19 08:27] khaveesh opened #247 "Change auto paren behaviour"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to confirm an autocompletion item, in order to have the parens inserted. I can understand this behaviour for snippets where if you complete it without confirmation, it would be disastrous.

**Describe the solution you'd like**
`<c-n>` & `<c-p>` should insert the parens automatically without needing

[2020-10-19 15:15] ChrisAmelia opened #248 "No import on Enter <CR> with vim-snip-integ jdtls"
[code]

Commit: 857fb1b14644cf90

**My testing minimal init.vim**
[code]

**How to reproduce**
1. Create `Test.java` with:

[code]

2. Inside main function, type `List`.

3. Look for `java.util.List` and press Enter:

![image](https://user-images.githubusercontent.com/16366403/96470379-83904d80-122e-11eb-9152-949578f00c1e.png)

4. Notice that `java.util.List` is not added (although, it is added by

[2020-10-20 06:34] ngtinsmith commented on #239
This happens for buffers as well with [completion-buffers](https://github.com/steelsojka/completion-buffers) plugin.

This is what I use to resolve both for the mean time:
[code]

[2020-10-20 10:10] haorenW1025 commented on #237
@tami5 After some investigation, I think I know why the flickering happens. This is because when supporting fuzzy completion we'll have to manually triggered complete instead of let neovim filter the results, which eventually causes the flickering(see https://github.com/neovim/neovim/issues/12620 for more discussion about it). Currently I can only avoid flickering when not using fuzzy complete. Pl

[2020-10-20 10:15] haorenW1025 commented on #203
I've tried to fix the redundant complete request with `isIncomplete` in #249. Next step is reworking completion by using `nvim_buf_attach` which will reduce extra timers overhead.

[2020-10-20 11:42] tami5 commented on #237
Nice catch @haorenW1025, I was wondering why this isn't a real issue for the completion-nvim, and now I understand that many may not be utilizing fuzzy match. I'm going subscribe to 249, and report there. Thanks

[2020-10-20 21:55] bluz71 commented on #237
Well if indeed I had exact matching strategy and I stated above that I saw no difference between LSC and completion.nvim. That explains why I could not see what the original poster saw.

Nice debugging.

[2020-10-21 03:17] haorenW1025 commented on #245
That's a great suggestion. Actually the variable you mention is quite misleading. I modified the naming so that `g:completion_menu_length` will be the `item.menu`'s length and `g:completion_abbr_length` will be the `item.abbr`'s length. Please see if this PR works for you.

[2020-10-21 04:12] sjeon7 commented on #245
@haorenW1025 I checked new PR and it is working great except this part.
[code]
Wouldn't this part be `item.menu = string.sub(item.menu, 0, menu_length).."..."`??

I also added comment on new PR. Thank you!

[2020-10-21 07:27] haorenW1025 commented on #245
That's a typo there. Should be fixed now, thanks for the report:)

[2020-10-21 08:13] haorenW1025 commented on #248
Have you used the latest `vim-vsnip-integ` and `vim-vsnip`? I tried to reproduce but is seems to work on my side.

[2020-10-21 08:19] hrsh7th commented on #248
I think https://github.com/nvim-lua/completion-nvim/commit/669f90c5794cae8d6cb56f57c6347544eab28e52 causes it may be.

I recommend to use `do_complete_done` instead of `on_complete_done`.

[2020-10-21 09:03] ChrisAmelia commented on #248
Yes, I'm on the latest of both, respectively `4a076bea73e307` and `b08d78bb7df1f1d3b`.

Tried, the same issue still remains.

[2020-10-21 09:10] sjeon7 commented on #245
@haorenW1025 Everything works well! Thank you!
I hope that new PR is merged soon.
Closing this is in favor of #250 then.

[2020-10-21 09:10] #245 closed

[2020-10-21 09:14] hrsh7th commented on #248
thank you for testing.

You should change as https://github.com/nvim-lua/completion-nvim/commit/669f90c5794cae8d6cb56f57c6347544eab28e52#diff-6392ae82b1c1f58e7721cb6d8b5fb7a83fc96533ad35da0d8633d14f2427a04dL102

[2020-10-21 09:26] ChrisAmelia commented on #248
Thanks, this fixes it.

[2020-10-21 13:10] nkoporec opened #252 "Autocompletion does not work with variables in PHP (Intelephense)"
I just started using Nvim LSP and the completion plugin and I have an issue with autocompletion in PHP. I'm using latest Intelephense server and nightly Nvim. For some reason autocompletion does not work with variables, the popup does not filter correctly and only shows the variables if the key length is 1, anything else won't work, not even exact match. When you want to autocomplete the variable

[2020-10-21 17:38] haorenW1025 commented on #248
Hmm I was having some issue with `do_complete_done` in the past so I change it, I'll see if that an issue on my config now. If so, we should go back to using `do_complete_done`.

[2020-10-21 18:04] haorenW1025 commented on #248
@hrsh7th If I use `do_complete_done` normal snippets expansion will not work on my side. but that's because I disable the autocmd in vsnip-integ. After re-enable the autocmd it works as expected. However I remember before when disabling the autocmd it works fine, do you make some changes in `vim-vsnip-integ`?

[2020-10-22 04:50] hrsh7th commented on #248
Yes, I fixed the problem of duplicated snippet expansion 2 months ago (I thought it has no breaking change).

I think it was a potential bug of vim-vsnip-integ and it was fixed so you can restore the commit.

[2020-10-22 05:37] haorenW1025 commented on #248
Should be fixed in the latest commit.

[2020-10-22 05:37] #248 closed

[2020-10-22 05:38] haorenW1025 commented on #244
Will this still happen when using the newest commit?

[2020-10-22 05:38] hrsh7th commented on #248
Thank you for your work!

[2020-10-22 05:41] haorenW1025 commented on #252
completion-nvim uses `iskeyword` to get the keyword for completion. I'm guessing that `$` is not a keyword by default. Try setting `:set iskeyword=@,48-57,_,192-255,$` and see if it works. Also `:h iskeyword` might also help.

[2020-10-22 05:44] hrsh7th commented on #244
I think it's neovim or completion-nvim's problem.

The completion-nvim will extract completed_item.word that cleaned by `vim.lsp.util.parse_snippet`.
But `vim.lsp.util.parse_snippet` is

- It does not treat `$TM_SELECTED_TEXT`, etc.
- It does not treat `\n`

In coc.nvim, the extracting completed_item.word by `getValidWord` utility (https://github.com/neoclide/coc.nvim/blob/9f9d8a32c4669ba6895e8018

[2020-10-22 05:45] hrsh7th commented on #244
Or vim-lamp just use `completion_item.label` as `completed_item.word` when the item is snippet kind.

[2020-10-22 06:05] nkoporec commented on #252
Thanks for the help, unfortunately it did not work, it fixes the issue with duplicate $$ signs but it still does not autocomplete or show variables in the popup menu.

[2020-10-22 06:39] nkoporec commented on #252
Just installed tsserver and test out variables with $ signs ($test) and it works as expected, so I believe there is something wrong with Intelephense or it's config ...

[2020-10-22 07:38] haorenW1025 commented on #246
Hmm the thing is completion-nvim doesn't actually handles signature_help. It just triggers it when it's available. So although I have to admit that it seems to be a nice enhancement, it's kind of out of the scope of this plugin. I'll try look into it when I have time but probably this won't be built into this plugins.

[2020-10-22 08:08] ChrisAmelia commented on #248
Commit 2b90524e4fe9d78584ada2942231a913402ff74d seems to prevent the auto-import from functionning.
Commit 669f90c5794cae8d6cb56f57c63475 works fine before the above one.

[2020-10-22 08:10] ChrisAmelia commented on #244
Yes, it still happens.

[2020-10-22 08:24] ChrisAmelia commented on #248
In commit ecaccc3c91d919a2, the removing of these lines prevent the auto-import:

[code]

[2020-10-22 08:26] hrsh7th commented on #248
I will check it.

[2020-10-22 12:00] hrsh7th commented on #248
It's bug of vim-vsnip-integ.

I don't know why but vim-vsnip-integ receives `CompleteDone` before `do_complete_done`...

I will investigate it.

[2020-10-22 12:13] hrsh7th commented on #248
@ChrisAmelia It should be fixed now by latest vim-vsnip-integ.

[2020-10-22 13:52] ChrisAmelia commented on #248
Yes, works fine. Thanks.

[2020-10-23 10:59] gwbrck commented on #158
Sorry I am still learning... I think I didn't understand the way triggered_only works. There ist no problem with that.

In case someone has a problem with an omnicompletion function from another Plugin: Just put `{'mode': 'omni'}` in completion_chain_complete_list.
[code]

You don't need to create your own [custom completion source](https://github.com/nvim-lua/completion-nvim/wiki/custom-completio

[2020-10-23 10:59] #158 closed

[2020-10-24 06:46] RishabhRD opened #254 "Question: How to prioritize a specific completion source over other without losing them in default?"
I want to prioritize LSP completion over snippets completion that means I want LSP completion results listed above snippet completion results. Chain completion seems to do a similar task. However when I do something like:
[code]
Snippet completion only appears when there is no LSP completion available. How to make it something like in completion list I have LSP completion, then C-P C-N and then sn

[2020-10-24 20:08] adalessa commented on #252
Hey I have the same issue. Looking into the code I found a workaround I installed `snippets.nvim` using plug `Plug 'norcalli/snippets.nvim'
`  and set `let g:completion_enable_snippet = 'snippets.nvim'
` whit this I have it working.
To give context on why I did that was because here https://github.com/nvim-lua/completion-nvim/blob/3b6774ed1c1b4720efe3385f06883483f5e16884/lua/completion/source/lsp.

[2020-10-25 11:36] taylan97 opened #255 "completion.lua autocommand overwriting custom <CR> imap"
I was setting a custom imap for `<CR>` in a floating window buffer. It would work the first time, but when I left the buffer then re-enter, it would stop functioning. I discovered that completion.nvim was overwriting my own map with it's completion mapping.

Because they both map to the same key in the buffer (<CR>), there wasn't any chance for say, recursive fall through to make your <CR> trigger

[2020-10-27 10:35] nkoporec commented on #252
Yep, the workaround with `let g:completion_enable_snippet = 'snippets.nvim'` works, thanks!

[2020-10-27 22:26] danielpieper commented on #252
Worked for me in combination with `:set iskeyword=@,48-57,_,192-255,$`

[2020-10-28 02:24] ray-x opened #256 "Did not respect completion_items_priority setup"
My setup:
[code]

It went well for a while, until recently, seems the completion list did not respect my priority setup. snippet takes the priority even I set it to 0.

![Screen Shot 2020-10-28 at 1 06 04 pm](https://user-images.githubusercontent.com/1681295/97382828-5f182d80-1920-11eb-9f13-6db47aa9c10b.png)

Is there anything might causing this?

[2020-10-28 14:16] vaijab commented on #247
The vscode example you showed is a great example how it should work. Currently what I am finding quite annoying is that it does insert parenthesis but the cursor is moved to the end of a closing paren So I then have to switch to normal mode, move the cursor back and enter insert mode agian.

[2020-10-28 14:22] Shougo commented on #247
Unfortunately, it cannot be implemented.  It is Vim/neovim completion's feature.

You have confirmed the candidate.  So it is not `without needing to press the confirmation key`.

[2020-10-30 15:14] clason opened #258 "Enable LSP client snippet capabilities when snippet integration is configured"
Neovim just merged a PR (https://github.com/neovim/neovim/pull/13183) that sets `capabilities.textDocument.completion.completionItem.snippetSupport = false` by default.

Now users have to remember to enable it themselves; it would be convenient if completion-nvim set that capability automatically when integration of one of the supported snippet plugins is configured.

@runiq

[2020-11-02 11:05] r-bar opened #259 "Allow reverse suggestion ordering"
**Is your feature request related to a problem? Please describe.**
Vim's default completion menu behavior is frustrating. When the completion menu appears the most relevant suggestion is placed at the bottom of the list, furthest from the cursor. This means that your eye must find the best suggestion furthest away in a (potentially rapidly changing) list.

**Describe the solution you'd like**
It w

[2020-11-02 12:16] Shougo commented on #259
I think the example screenshot is needed.

[2020-11-03 19:50] ludwj61 opened #260 "Highlight in signature help"
Sometimes, when using signature help popups, I noticed some characters are highlighted as errors. For example, here is it with python and pyls_ms:
![image](https://user-images.githubusercontent.com/42984254/98032123-86b83b80-1de1-11eb-9d6b-85a2372ea9e1.png)
(notice the red highlighted underscore)

**My testing minimal init.vim**
This happens with just completion.nvim, lspconfig, and pyls_ms runnin

[2020-11-03 21:16] ludwj61 commented on #260
My mistake, this is not the fault of this plugin; see this reddit post: https://www.reddit.com/r/neovim/comments/jmuxm0/help_seeing_red_blocks_in_hover_definitions/

[2020-11-03 21:16] #260 closed

[2020-11-06 05:15] romgrk opened #261 "Unwanted auto-completed letters in special buffer"
I'm opening the issue regarding an issue that was observed in clap's input window. In some cases, something seems to be typing letters that are not wanted by the user.

Detailed report can be found here: https://github.com/liuchengxu/vim-clap/issues/580

It was observed that both users reporting the issue were using completion.nvim, and I was wondering if you'd have any insight as to why this coul

[2020-11-08 06:54] smartding commented on #258
this only affects snippets from lsp server, right?
no need to change anything if I'm using ultisnips.

[2020-11-08 09:50] clason commented on #258
Yes.

[2020-11-09 08:43] sl8vz commented on #203
Hi,
If that can be of any help.
Also using completion-nvim in a quite large codebase (+10K files indexed w/ ccls)
Out of the box completion was almost unusable due to the massive amount of symbols triggered on the first key.
Increasing `completion_trigger_keyword_length` to 3, improved things big a great deal.
Now, that's the first time I have a fully working LSP for this project.
Thanks !

[2020-11-12 15:39] abenz1267 opened #264 "cssls no autocompletion"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Minimal config with with nvim-lspconfig, completion-nvim.

**How to reproduce**
Create new *.css file and try out autocompletion

**Expected behavior**
Autocompleting items. `backg` -> list with `background-` etc.

I've tried check

[2020-11-13 09:09] JanValiska opened #265 "Question: How to attach completion engine to all filetypes except one?"
Currently i'm using:

`autocmd BufEnter * lua require'completion'.on_attach()`

But i wish disable it for certain types of buffers(exactly for one: clap_input).
Is there some way to attach to all buffers except buffers with certain type?

Thank you.

[2020-11-13 09:26] theHamsta commented on #265
Does this work?
`autocmd BufEnter * lua function() if vim.bo.filetype ~= "fooo" then require'completion'.on_attach() end end`

[2020-11-13 09:34] JanValiska commented on #265
Thank you for hint.

I finally created `myfnuctions.lua`:
[code]

and called it from `vimrc` like:
[code]

Works like a charm!

[2020-11-13 09:34] #265 closed

[2020-11-16 14:11] s-rafaeldias opened #269 "Error executing vim.schedule: attempt to index field 'callbacks'"
**My testing minimal init.vim**
[code]

**How to reproduce**
1. Install https://github.com/palantir/python-language-server
2. `nvim -u test.vim`
3. open any python file
4. type anything that should trigger an autocomplete such as `from da`
5. Should get the error: `Error executing vim.schedule lua callback: ...el/.vim/plugged/completion-nvim/lua/completion/hover.lua:307: attempt to index field 'ca

[2020-11-16 14:17] lithammer commented on #269
Fixed by #266, and caused by refactoring in https://github.com/neovim/neovim/pull/12655.

[2020-11-16 14:18] lithammer commented on #269
Or actually, seems like it's already fixed by https://github.com/nvim-lua/completion-nvim/pull/268. Try updating completion-nvim?

[2020-11-16 14:20] s-rafaeldias commented on #269
Just updated here and fix it!

[2020-11-16 14:22] #269 closed

[2020-11-16 14:22] s-rafaeldias commented on #269
The fix on #268 solved this.

[2020-11-16 15:42] Iron-E opened #270 "Empty field handler referenced in signature_help.lua"
This happens when typing in a buffer with attached LSP after #268. Screenshot:

![Error](https://user-images.githubusercontent.com/36409591/99274493-66807780-27f8-11eb-972f-777b6272c32b.png)

* Note this screenshot shows a reference to `handler` in a different file, 'hover.lua'.

Closed by #266.

[2020-11-16 16:41] yashLadha commented on #270
Fix is already pushed into master. Can you please check with the current master?

[2020-11-16 16:42] Iron-E commented on #270
I used master for the screenshot

[2020-11-16 16:43] yashLadha commented on #270
It is not happening for me, can you please try updating the plugin.

[2020-11-16 16:46] Iron-E commented on #270
After another rebase to master it doesn't happen. Closing.

[2020-11-16 16:46] #270 closed

[2020-11-16 22:27] vitautart opened #272 "Pointer sign for c functions in info popup window missing"
**My testing minimal init.vim**
https://gist.github.com/vitautart/76c2e13597b804ca400506906f83081c

**How to reproduce**
* Nvim nightly 0.5
* Use my init.vim
* Install all plugins
* Install clangd
* Get minimal project for c.
* Try to call some function with arguments as pointers i.e. strcpy
* After you type name function, type "(" that triggers popup window

**Expected behavior**
In my setup popu

[2020-11-16 22:53] ruirayxue opened #273 "Sorting completion items by external sources"
**Is your feature request related to a problem? Please describe.**
My `completion_chain_complete_list` contains lsp and buffer. I'm frustrated when the top of the popupmenu is Buffer (which is mostly noise when lsp is available).
<img width="733" alt="Screen Shot 2020-11-16 at 2 40 39 PM" src="https://user-images.githubusercontent.com/54578696/99317557-1cf55400-281b-11eb-8439-6a3cd00c1259.png">

*

[2020-11-17 02:20] pljanot opened #274 "error on startup - attempt to index field 'handlers' (a nil value)"
After recent plugin updates, I run into an error which I couldn't deal with.
I browse a little bit and see that there were updates near hover.lua:250 (#268)
I would appreciate any help, thank you.

**My testing minimal init.vim**
[gist](https://gist.github.com/pljanot/4528c391f9e7dcee0ab6c6dd4eff73d0)

**How to reproduce**
* download most recent nighlt build nvim
* install & update all plugins to

[2020-11-17 07:07] kflak commented on #274
Can confirm, same issue here on Arch Linux, nvim-nightly.

[2020-11-17 07:22] ngtinsmith commented on #274
Same, I was able able to fix now by though by renaming the **key** on `../completion-nvim/lua/completion/hover.lua` file.

Just search for `client.config.callbacks` and `vim.lsp.callbacks` and rename the from **callbacks** key to **handlers**.

[2020-11-17 07:41] lithammer commented on #274
I suspect this means your Neovim version is simply too old. From the look of things, the [Neovim nightly on AUR](https://aur.archlinux.org/packages/neovim-nightly-git/) hasn't been updated since August, and you need something newer than https://github.com/neovim/neovim/pull/12655 which was merged 4 days ago.

@ngtinsmith that just means you're running an old version of completion-nvim because mast

[2020-11-17 08:01] willfish commented on #274
I'm using asdf to install neovim nightly which uses neovim tags to determine what are the available versions to build. My nightly version also isn't compatible with this change.

[2020-11-17 08:02] willfish commented on #274
Looking at the age of the nightly tag it's 6 days old which is consistent with your comment about the change being merged 4 days ago.

[2020-11-17 08:05] willfish commented on #274
I'm not sure what the nightly tagging process is but I'm guessing this would be sorted by generating a new tag in neovim and making the new api for callbacks -> handlers available. I'm wondering whether all lsp configuration plugins are up-to-date with their references to handlers, though. I guess the dust needs to settle.

Locally I reverted the callback naming change and did the following in the

[2020-11-17 08:18] ngtinsmith commented on #274
@lithammer I see, you're right, my version was 25 days behind. just updated it's working now as is. :thumbsup:

[2020-11-17 09:00] kflak commented on #274
Aha, that makes sense. My problem now is that the `neovim-nightly-git` from aur refuses to build on my system. Which is probably more of a packaging issue than a nvim issue.

[2020-11-17 09:07] salkin-mada commented on #274
@kflak maybe try the one based on the nightly tarballz `neovim-nightly`

[2020-11-17 14:20] jaydorsey commented on #274
I had to change one other line in hover.lua (line 250)

[code]

Same nvim version as others, the currently nightly which is 6 days behind

[2020-11-18 03:17] Iron-E commented on #274
If you're getting this message, it means that your Neovim version is too old. #268 was merged due to a change made a few days ago.

[2020-11-18 08:30] kflak commented on #274
Seems the `neovim-nightly-git` package pulls from the `nightly` tag, which is now 7 days old. Is there a way to (generate these tags more frequently? Should I submit an issue in neovim?

[2020-11-18 09:14] weilbith opened #275 "Question: How do source in the same group affect each other?"
Hey,

I have a question which I can't find an answer for in the docs or already open issues. So basically the header already states it, but maybe that's a bit generic. So in more detail I'm interested to know how the different speed of sources that are in the same group or side-by-side group affect the auto-completion. So for example I have `snippet` and `lsp` in my default first level group and r

[2020-11-18 09:59] pibone commented on #274
I've just changed that line until the nightly catches up with a fix compatible with the new 'handlers'  field:

[code]

[2020-11-18 15:08] LambdaP opened #276 "[documentation] Reflect the fact that diagnostics-nvim is now deprecated"
**How to reproduce**

README.md still mentions using https://github.com/nvim-lua/diagnostic-nvim, even though that project is now announced as deprecated.

**Expected behavior**

At least remove [the section # Compatibility with diagnostic-nvim](https://github.com/nvim-lua/completion-nvim/blob/8d137023ec64d1b3e7213087bdb2b1394a9591b2/README.md#compatibility-with-diagnostic-nvim,) but better would

[2020-11-18 21:11] duganchen commented on #274
It's definitely still happening with the latest neovim AppImage from the GitHub page, which is:

NVIM v0.5.0-828-g0a95549d6

Do I just need to try again tomorrow?

[2020-11-18 21:19] Iron-E commented on #274
If any of you need to build neovim from source you can use my update script in the meantime:

[code]

This will create a temporary binary `nim` on the nightly. All you have to do is:

1. Edit `$ROOT_DIR` to a directory of your choosing
2. Clone neovim/neovim to `$ROOT_DIR/src`
3. Run the build script.

Hopefully this should tide you over.

[2020-11-19 01:53] mhanberg commented on #274
I just build the latest master and am still seeing this issue. This is quite strange. I built neovim with `make CMAKE_BUILD_TYPE=Release`

[2020-11-19 01:59] mhanberg commented on #274
Their TravisCI pipeline is on hold due to cost so they're porting it to GitHub Actions, and that effort is in progress. @kflak

[2020-11-19 07:32] kflak commented on #274
Good to know, thanks!

[2020-11-20 07:38] kflak commented on #274
I built from source according to @Iron-E's excellent instructions without a hitch and did a clean reinstall of completion.nvim. Now I am getting this error:
[code]

[2020-11-20 08:55] haorenW1025 commented on #276
Closed by #277

[2020-11-20 08:55] #276 closed

[2020-11-20 09:06] haorenW1025 commented on #274
Sorry for the inconvenience everyone, this is caused by some breaking changes of neovim core(to make built-in LSP better). This shouldn't be happen too often though. As an user of the neovim nightly version, I highly recommend building neovim from source since it shouldn't be hard and you can easily follow any huge changes.

Also hugh thanks for @Iron-E  @lithammer for the help on answering questi

[2020-11-20 09:06] #274 closed

[2020-11-20 09:15] lithammer commented on #274
No worries! I'm happy to help 🙂

[2020-11-20 09:19] haorenW1025 commented on #275
Currently, popup menu will show only after all sources in the same group have responded, and auto-changing only happens if all the sources respond but no there is no available items. This is probably not the best way related to performance though. If you have any feedback on this, please let me know:)

[2020-11-20 09:21] haorenW1025 commented on #203
@sl8vz Thanks for the feedback, that's actually really interesting. So the slow respond issue may be related to the lsp giving back too many items and completion-nvim is having a hard time processing them.. Maybe some optimization on string processing or limited the items from lsp may help if that's the case.

[2020-11-20 09:23] haorenW1025 commented on #258
This could be nice, I'll implement this when I have some spare time(not now, unfortunately:cry:)

[2020-11-20 09:28] haorenW1025 commented on #273
That's a sensilbe enhancement. Unfortunately I might not have time to work on this project recently so it might takes a while for me to implement this:( Right now a possible solution might be putting lsp sources and buffer sources in different group and use the following mapping to switch between them.
[code]

[2020-11-20 09:30] haorenW1025 commented on #272
I think you mean the signature help menu. completion-nvim only calls the api automatically to open the menu for you, so it shouldn't be related here. I'm guessing the issue might comes from clangd, try ccls and see if it works better for you.

[2020-11-20 09:30] #272 closed

[2020-11-20 09:31] haorenW1025 commented on #264
That's weird...I'll look into this when I'm available.

[2020-11-20 11:28] weilbith commented on #275
Hmm. It would be cool if a group could populate to the same menu (means I don't switch manually to the next group/menu) but are independently pushing asynchronously to the current completion list items.
How could that be useful: you could for example combine treesitter and LSP into the first group. For complex code-bases the LSP might be slow (I saw the quite long open issue with many discussions

[2020-11-20 11:30] weilbith commented on #203
Sorry to put this stupid question here, but couldn't you simply analyze how much time of execution gets spend for the different parts of completion-nvim? This might not reveal the higher level issue, but such as the complex sorting from @haorenW1025 his last comment it would detect.

[2020-11-20 15:01] weilbith opened #281 "How to bind confirm completion correctly"
Hey :wave:

So [this](https://github.com/nvim-lua/completion-nvim/pull/7) got removed a while ago.
I'm using the _delimitMate_ plugin for completing parenthesis etc with some smart features. The issue: this maps the return key as well. So this is my current approach how to do it based on the docs for this and the other plugin:

[code]

So I type `myFunction`. While doing that the completion menu o

[2020-11-20 15:55] weilbith commented on #281
I'm stupid. Ofc does `<expr>` not work for non-recursive mapping commands.
But I'm still missing the parenthesis. An idea?

[2020-11-21 17:47] gohm44 opened #283 "completion does not work due to hover.lua error"
**init.vim**
[code]

**nvim --version**

[code]

**How to reproduce**
run neovim with the given configuration

**Description**
At start nvim throws an error and completion does not work.
[code]
So I guess the root cause of an issue:
[code]

Remove of this line allows to avoid an error during launch but still, completion does not work.

[2020-11-21 19:29] sl8vz commented on #283
Hi,
See #274,  the problem is because the nvim nightly with the matching API hasn't been released yet. Temporary workaround is possible.

[2020-11-22 00:40] weilbith opened #285 "How to make omnicompletion with rhubarb working?"
Hey :wave:
I just re-installed the plugin `vim-rhubarb` again to get omni-completion for GitHub issues and user handles in git related filetypes. I can confirm that the omni-completion is working when I trigger it manually with `<C-X><C-O>`. So this is my attempt to include it into this plugin here (I also tried without the trigger chars, but it does not help).

[code]

So when I now try to use it

[2020-11-22 01:46] weilbith commented on #285
Never mind. I remember why I had uninstalled Rhubarb back then. Thought it was completion engine. I gonna write a new completion source myself that works with `completion-nvim` and makes use of the new official `gh`CLI tool. This also mitigates the security concerns. I just need to figure out how to do caching best.

[2020-11-22 01:46] #285 closed

[2020-11-22 17:12] Keating950 commented on #264
I'm having a similar issue with all the LSP servers I've tried (rls, ccls, ocamllsp and pyls). I enable autocompletion like so:
[code]
Further down in my config, I enable various language servers:
[code]

But autocompletion doesn't work in buffers with the LSPs enabled, only in those without an LSP running.

[2020-11-22 20:38] salkin-mada commented on #183
I have the same
`"~/Music/<TAB>"` not working
` ~/Music/<TAB>` working

[2020-11-23 04:35] haze opened #287 "Auto select first completion item"
I'm trying to migrate my `coc` completion to `completion-nvim`, and one feature I'm missing is auto selecting the first completion item. I feel like this is possible, but couldn't find anything from my shallow searching. I figure opening an issue would make it easier for others to find in the future as well.

[2020-11-23 04:45] Sammyalhashe opened #288 "Completion doesn't work when using clangd"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue
This is my lua file that specifies all language servers. I have tested with pyls and vimls and they work. Clangd only tells me the errors.
[code]

**How to reproduce**
Detailed ste

[2020-11-23 07:15] Shougo commented on #287
[code]

[2020-11-23 08:10] #155 closed

[2020-11-23 14:21] haze commented on #287
Thank you.

[2020-11-23 14:21] #287 closed

[2020-11-24 20:35] cideM commented on #283
I am on the latest Neovim `master` commit `7caa622afcbbc1f789c24a3f29525759486208da` and I still have this issue

[2020-11-25 12:53] noelevans commented on #274
If you are using AUR, this is fixed in neovim-git (but still causing problems in neovim-nightly and neovim-nightly-git)

[2020-11-25 18:09] gil-air-may commented on #283
Same issue here :eyes:

[2020-11-25 22:49] #288 closed

[2020-11-26 08:04] MonAaraj commented on #283
Same here.

[2020-11-26 23:06] TyOverby opened #289 "completion-nvim type window hidden by types in autocomplete list"
I'm using nvim-lua/completion-nvim with neovim/nvim-lspconfig and ocaml-lsp.

For whatever reason, I get type info for completion items inside the autocomplete box, as well as the completion-nvim box.  Sadly, because completion-nvim tries to position itself to the right of the completion box, it winds up being partially or totally occluded by the latter

You can see that in this image, where I've

[2020-11-27 04:05] flamendless opened #290 "Path not working"
Hi, long time vimmer but just new to neovim.

[code]
adding `path` to `complete_items` does not work. When i type for example `src/`, i only get autocomplete suggestions from Buffer

[2020-11-27 08:35] gohm44 commented on #283
As @sl8vz  pointed out we need a newer version of neovim. I did install neovim-git via AUR on arch and it resolved the issue.

[2020-11-28 17:57] RonanMacF opened #291 "completion.lua:253: bad argument #1 to 'len' (string expected, got nil)"
**My testing minimal init.vim**
[code]
plugins are installed through nix home-manager

**How to reproduce**
start neovim
see error `E5108: Error executing lua ...ck/home-manager/start/completion-nvim/lua/completion.lua:253: bad argument #1 to 'len' (string expected, got nil)`

**Expected behavior**
no error

[2020-11-28 18:02] RonanMacF commented on #291
this can easily by fixed by just setting `let g:completion_confirm_key = "\<C-y>"` but I would have expected this to not be required as there is supposed to be defaut.

[2020-11-28 18:10] TyOverby commented on #289
I've found a way to remove the "kind" and "details" elements from the completion list:

[code]

[2020-11-28 18:23] TyOverby opened #292 "completion_smart_tab for arrow keys?"
I use

[code]

and I really like that when I hit tab or shift-tab, I get the type-info of the symbol next to the completion list.  Sadly the type info doesn't show up when I use the arrow keys to navigate the list.

Right now I'm using these bindings to emulate the behavior that I'd like:

[code]

Maybe this behavior could be added to completion-nvim?  Or perhaps this workaround is recommended, an

[2020-11-28 19:02] ChrisAmelia opened #293 "'completion_auto_change_source' and 'completion_chain_complete_list' select item automatically"
**My testing minimal init.vim**
[code]

**Description**
Two issues are happening (although, I believe they are the same?).
When the above two options are set:

1. The word being deleted with backspace is automatically completed.
1. Cycling through the completion menu inserts an item automatically (thus preventing from choosing another).

**How to reproduce**

1. Create file `Main.java` with:
[code

[2020-11-30 17:23] mhartington commented on #289
A nice idea might be to truncate the detail entry to a certain string length. Deoplete does this as well for it's source, so it could make sense here.

[2020-11-30 19:37] fuadnafiz98 commented on #274
Any update on this?? I am using the latest AppImage

[2020-11-30 20:06] mhanberg commented on #274
@fuadnafiz98 The nightly builds are still not up. You can follow along here: https://github.com/neovim/neovim/issues/13312.

I suggest compiling from source in the meantime. If you use `asdf` for other stuff, you can also use it for neovim: https://github.com/richin13/asdf-neovim.

[2020-12-01 07:17] fuadnafiz98 commented on #274
Thanks, @mhanberg, I build from the source and have done a couple of things.

1. Build `Neovim` from source
2. Change this lines in `~/.vim/plugged/compilation-nvim/lua/completion/hover.lua`:
[code]
3. Also changed this line of the same file on line `250`
[code]
4. changed the line in `~/.vim/plugged/compilation-nvim/lua/completion/signature_help.lua` on line `33` :
[code]

[2020-12-01 07:40] lithammer commented on #289
Is there any point in showing details at all? Isn't that what we have `completeopt=preview` for?

[2020-12-01 12:25] BokilaLin commented on #261
I add following line to `init.vim` to avoid conflic with vim-clap.

What the line does is to check buffer type
If it is `nofile` which is for vim-clap buffer, then do nothing;
else enable completion for that buffer.
[code]

Hope this works for others

[2020-12-01 15:27] TyOverby commented on #289
@lithammer agreed, it seems like duplicated info

[2020-12-02 15:23] ChrisAmelia commented on #290
Place `path` first:

[code]

[2020-12-03 01:48] flamendless commented on #290
Thanks!

[2020-12-03 01:48] #290 closed

[2020-12-05 20:42] oberblastmeister opened #295 "Auto expand snippets on tab"
**Is your feature request related to a problem? Please describe.**
The smart tab functionality is great but it would be better if there was an option to also auto expand the snippets. This would be also good for people coming from vscode and allow to free up the `<CR>` mapping for people that are using an auto pairs plugin.

**Describe the solution you'd like**
I have written a lua function that s

[2020-12-07 16:29] cyansprite commented on #283
The manual bash script way to install the latest and greatest of Neovim.
I know they have a CMakeFile but it didn't work for me so I just did it manually this way, hope that helps.

[code]

[2020-12-12 02:03] yashLadha opened #298 "Completion kind types symbol"
**Is your feature request related to a problem? Please describe.**
I want to basically have a custom symbol based on the completion type in the pmenu, something like this https://github.com/neoclide/coc.nvim/pull/603 . Can this configuration achievable in the current setup?

**Describe the solution you'd like**
Having control it through a mapping like `let g:completion_kind_overrides`.

**Describe

[2020-12-12 10:38] clason commented on #298
@yashLadha That was already discussed (and partially implemented) in https://github.com/nvim-lua/completion-nvim/issues/36, see https://github.com/nvim-lua/completion-nvim/issues/36#issuecomment-617329770

But it's actually not necessary to support this in `completion-nvim` since that's already really easy with core LSP functionality: https://github.com/nvim-lua/completion-nvim/wiki/Customizing-LS

[2020-12-12 14:18] yashLadha commented on #298
Yes thanks for sharing the resource. Would be nice to have it in the README under customization.

[2020-12-14 12:10] JonasRSV opened #300 "completion-nvim works poorly with rust_analyzer because complete suggestions is missing ()"
The problem is that onHover documentation is not working great using completion-nvim for rust-analyzer

[code]

a. will suggest completions such as

[code]

But it should suggest

[code]

The problem is that when it does the first suggestion nvim-lsp incorrectly fetched the documentation so that the on-hover information becomes wrong.

Using completion-nvim the onhover documentation is just an emp

[2020-12-14 23:27] etrnal70 commented on #300
Have you tried to add snippet support ? You can try to add `textDocument.completion.completionItem.snippetSupport = true` to your LSP capabilities config. It's still a bit buggy though, sometimes it works and sometimes it doesn't

[2020-12-17 20:04] Abh15h3k opened #302 "Signature Window Disappears on pressing space."
While filling in parameters for a function the signature window disappears when i press space after adding a `,`. also disappears if i press space after the opening brace `(`.

![signature_window](https://user-images.githubusercontent.com/40197742/102537165-9f9a5900-40d0-11eb-8627-cb6e7a3dadc5.gif)

Am i missing some setting ?
config related to completion:
[code]

[2020-12-18 15:54] nabezokodaikon opened #303 "Duplicate items are included in the completion candidates."
<img width="485" alt="スクリーンショット 2020-12-19 0 51 43" src="https://user-images.githubusercontent.com/3197942/102633895-69bea880-4194-11eb-8966-b8b82b6d1ecb.png">

**My testing minimal init.vim**
[code]

**How to reproduce**
[code]

tsconfig.json
[code]

nvim src/foo.ts

Display the completion.

**Expected behavior**
The completion candidates should not contain duplicates.

[2020-12-19 21:33] MurdeRMelodY opened #305 "Overlapping windows"
Completion window overlaps with documentation's. Any tips on how I can fix this?

[2020-12-21 13:54] nabezokodaikon commented on #303
The cause was typescript-language-server.
[see](https://github.com/theia-ide/typescript-language-server/issues/178)

[2020-12-21 13:54] #303 closed

[2020-12-22 15:40] Melkster opened #306 "Show preview of selected snippet in floating window"
[coc-snippets](https://github.com/neoclide/coc-snippets) has the ability to display a floating preview next to the snippet selected from the pum as shown in the gif below. Is this feature available for completion-nvim?

![coc-snippets preview](https://user-images.githubusercontent.com/251450/54837017-62891300-4d00-11e9-9e53-49742a1a33f2.gif)

[2020-12-22 15:42] boydkelly opened #307 "Plugin settings in lua"
Is it possible at this time for the plugin settings to be entirely in lua?

I have tried a few of the settings below.   What is not comment out seems to work.   Its mostly the keybindings that either don't work (yet) or I just can't figure out the syntax.  For example the mapping of <c-p> to <Plug>(completion_trigger) will litteraly wriite <Plug>(completion_trigger) in the file.

### This seems ok

[2020-12-23 09:42] ChrisAmelia opened #308 "Import not done if completion is done between parenthesis with snippetSupport"
**My testing minimal init.vim**

So far, reproduced with jdtls and gopls.

*init.vim*
[code]

**How to reproduce**
Complete something between parenthesis that requires an import.
Here's an example using gopls:

*main.go*
[code]

1. Place cursor between `()` and type `fmt.`
1. Completion menu appears, select the first entry

**Expected behavior**
Import is done as follows:

[code]

[2020-12-23 23:29] dialtone opened #309 "Support rust-analyzer.completion.enableAutoimportCompletions for auto importing code on completion"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to auto import libraries in rust if they are standard library or dependencies, upon completion, it would make the completion logic a lot more useful as well.

**Describe the solution you'd like**
Behave like VSCode does with rust autocomplete

[2020-12-25 04:39] dfangx opened #310 "vimtex omnifunc as completion source does not open autocomplete menu"
**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue
File `test.vim`
[code]

Associated `vimtex.lua` code taken from the wiki
[code]
**How to reproduce**
Open a *.tex file using `nvim -u test.vim`
Begin typing '\beg' or some other latex command
Autocompletion menu does not pop up

**Expected behavior**
Autocompletion menu should pop up with completion items in it.

[2020-12-26 12:07] cideM commented on #305
At least in my case the problem is that the package path is very long and it's not wrapped, as such the hover window can't shrink enough. So if there's something like `https://pkgs.go.dev/very/long/path/that/just/keeps/going/and/going` it can't shrink the hover window so it overlaps with the pum

[2020-12-26 12:22] aca commented on #215
@haorenW1025 @blackCauldron7 @glepnir
I needed something to replace coc-emmet. And I just implemented it as another language server. Could you try this out?
https://github.com/aca/emmet-ls

[2020-12-29 08:26] gadkadosh commented on #264
If this is still an issue for somebody, what helped me is set `snippetSupport = true` for cssls (and html).
See: hrsh7th/vim-vsnip-integ#36

[2020-12-29 11:59] saadparwaiz1 opened #312 "Clangd Doesn't Give Any Completion if Snippet Support is set to true"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue
[code]

**How to reproduce**
Install clangd, enable snippet support in server config and completion-nvim
The current behaviour is  as follows:
![Screenshot 2020-12-29 at 11 57 13](

[2020-12-30 11:39] blackCauldron7 commented on #215
It expands but doesn't function properly i have opened a more elaborate issue in your repository.
@aca

[2020-12-30 14:05] #215 closed

[2020-12-31 05:27] haorenW1025 commented on #312
It works fine on my side though, but my setting is
[code]

[2020-12-31 05:37] saadparwaiz1 commented on #312
Ah, Interesting I'll investigate this a bit more! Thank you for your help

[2020-12-31 05:37] #312 closed

[2020-12-31 05:50] haorenW1025 commented on #305
Can you provide proper examples for me to reproduce? This would help a lot if I want to resolve this issue.

[2020-12-31 09:01] nimainimaii commented on #264
Thank-you, I've been looking for a solution for so long for this. I feel like it needs to be more prominent somewhere in the documentation.

[2020-12-31 17:43] theHamsta opened #313 "substring_match throws errors when completing prefix that ends in `%`"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**

Creating a minimal init.vim is more work than fixing the issue myself. I will submit a PR in a few minutes...

**How to reproduce**

Enter the following in a Lisp buffer with vlime installed (will change vim's word boundaries)
[co

[2021-01-01 09:04] #313 closed

[2021-01-01 09:10] haorenW1025 commented on #309
I'm not very familiar with rust and rust-analyer though. It'd be great if you can provide an example that works in vscode but not here.
Further more, this kind of server dependence feature is kind of a pain to maintain, probably we should have a easier way to customize completion behavior.

[2021-01-01 19:31] dialtone commented on #309
Hey, you can see the auto import completion in action here: https://github.com/rust-analyzer/rust-analyzer/pull/6553 and I think the primary way to enable it is to use `textDocument/completion` with additional properties like seen here: https://github.com/microsoft/vscode-languageserver-node/blob/fde994bb4e29518a1988d0070e3f160146135021/client/src/common/client.ts#L1514 and in particular I think i

[2021-01-02 09:08] haorenW1025 commented on #310
I think you didn't activate completion-nvim on tex buffer, normally the completion is trigger by the `on_attach` function ins LSP, but since you're not using LSP, you can do it by
[code]

[2021-01-02 09:08] #310 closed

[2021-01-02 09:12] haorenW1025 commented on #309
Hmm actually completion-nvim DOES support `addtionalyTextEdits`, at least it works fine on `ccls` on my side. I'm not sure why this doesn't work in rust-analyzer. I'll take a closer look to it.

[2021-01-02 12:03] haorenW1025 commented on #309
Hmm I guess the behavior is quite weird comparing to the link you show, it's activate with codeActions so I tried using codeActions when my cursor is at
[code]
and it does auto import it. But when I type HashMap no completion was available so I can't triggered it with complete an items.

[2021-01-02 15:29] dfangx commented on #310
I have this line in the minimal config:
[code]
Doesn't call on_attach?

[2021-01-02 15:46] nabezokodaikon commented on #152
How should I set it specifically?
There is a lot of duplication in LSP.

[2021-01-02 20:18] mjlbach commented on #307
You're missing some escaled characters, here's an example from my config (all lua)

[code]

[2021-01-03 07:17] haorenW1025 commented on #310
Yeah it does. I somehow miss that..I've found out that you have to triggered the omni func completion first by `<c-x><c-o>` first and then the auto complete should work fine. I think it's an issue with vimtex's omni-complete though but I'm not sure.

[2021-01-03 08:43] haorenW1025 commented on #308
Try setting
[code]
This issue is quite weird though because expand_characters are resolved for using snippets expansion, but here I think setting `capabilities.textDocument.completion.completionItem.snippetSupport = true` changes the behavior of `applyAdditionalTextEdits` to snippets...Setting that to false can also fix the issue on my side.

[2021-01-03 15:08] dfangx commented on #310
I was going through `:h complete-functions`, and found that there are two invocations of the omnifunc function. In the wiki example, there is only one - the second invocation. Is the first invocation supposed to be handled by this plugin as well?

I have found that adding `vim.api.nvim_call_function('vimtex#complete#omnifunc',{1, ''})` triggers the completion menu, but only when prefixing whatever

[2021-01-03 18:52] quantum-booty commented on #273
@haorenW1025 To build on top of this idea, it would be nice to customize the ordering of the completion types. Using the types like in here:
![image](https://user-images.githubusercontent.com/28958399/103486197-f5bb0c00-4df3-11eb-84b1-f9e0dd1a0b0d.png)
So we could for example put Variable before Function.

[2021-01-03 21:19] cloggier commented on #273
How would that fit with `completion_sorting = "length"`? As in, would there be another option to group types together and then sort within each type as per `completion_sorting`?

[2021-01-03 21:41] quantum-booty commented on #273
Yeah I think length sorting within each type is nice.

[2021-01-03 21:56] Jesse-Bakker commented on #309
rust-analyzer only provides auto-importing completions when the `textDocument.completion.resolveSupport` includes `additionalTextEdits`, indicating that the client supports lazily resolving the additional edit required to do the import

[2021-01-03 22:34] boydkelly commented on #307
Thank you!   Much appreciated.

[2021-01-03 22:34] #307 closed

[2021-01-04 03:44] FelipeLema opened #316 "Using digits to select completion-nvim candidates"
**Is your feature request related to a problem? Please describe.**
Avoids pressing `<tab>` N times instead of pressing a single (digit) key. Think [`vim-easymotion`](https://github.com/easymotion/vim-easymotion) but with a narrowed, specific use within the completion window/buffer.

**Describe the solution you'd like**
Each visible candidate must have a digit assigned. Pressing a digit key will se

[2021-01-04 07:57] lithammer commented on #316
This is probably a feature request for Vim/Neovim itself since completion-nvim is just using native functionality. See `:help complete()`, `:help ins-completion` and `:help ins-completion-menu` for more info.

[2021-01-04 09:40] ChrisAmelia commented on #308
Thanks, it solved the issue.

[2021-01-04 09:40] #308 closed

[2021-01-04 12:10] cooper-anderson commented on #42
I believe this should be closed? See `g:completion_docked_hover`.

https://github.com/nvim-lua/completion-nvim/blob/9d48a1f0859aae75869cce699cf7cf49df54a39d/plugin/completion.vim#L28-L38

https://github.com/nvim-lua/completion-nvim/blob/936bbd17577101a4ffb07ea7f860f77dd8007d43/lua/completion/hover.lua#L195-L200

[2021-01-04 13:27] dlukes opened #317 "Hover help hidden behind popup menu"
**Is your feature request related to a problem? Please describe.**

With `rust-analyzer`, each entry in the completion list is typically very long, i.e. wide. This results in the hover help floating window being partially hidden behind the popup menu:

![image](https://user-images.githubusercontent.com/2734517/103539407-4dab4e80-4e98-11eb-8e76-b26609e6d896.png)

**Describe the solution you'd like*

[2021-01-05 00:20] FelipeLema commented on #316
thanks for your quick response.

gimme a few days to take a look at the docs for a proper reply

[2021-01-05 06:04] haorenW1025 commented on #317
A temporary solution is setting `g:completion_menu_length` which sets a maximum length of the menu and truncates the rest of it, but I agree, this issue should still be fixed.

[2021-01-05 10:22] dlukes commented on #317
`g:completion_menu_length` is great, thanks for that! I much prefer the completion menu to be small instead of covering up most of the buffer, so in combination with `g:completion_abbr_length` and `pumheight`, I can achieve a much more pleasing result :) Maybe worth adding those two options to the docs?

Nevertheless, if the window is narrow enough and the hover help wide enough that it overlaps w

[2021-01-05 15:47] nabezokodaikon opened #318 "[Question] How can I exclude duplicate completion candidates?"
<img width="297" alt="スクリーンショット 2021-01-06 0 42 40" src="https://user-images.githubusercontent.com/3197942/103666547-1f249500-4fb8-11eb-877e-c849b08d8066.png">

I think it can be done by changing `dup` to` 0` in custom completion source, but I don't know how to specify LSP in custom completion source.

[2021-01-07 11:55] cideM commented on #305
Is there a Lua command I can just call to trigger a completion plus the little documentation window?

[2021-01-10 17:53] jemag commented on #259
I agree that this can be quite frustrating especially with bigger projects with a lot of dependencies. This is an example from a java project:

![image](https://user-images.githubusercontent.com/7985687/104131135-8b015780-5342-11eb-9b89-455ecde32b11.png)

Notice that there is lookupOperations just above, but if I start typing "loo", I will not even see lookupOperations suggested, despite it being

[2021-01-11 01:16] carlitux opened #322 "snippets.nvim support do not work correctly"
As was described in this PR https://github.com/nvim-lua/completion-nvim/pull/321#issuecomment-757534341 snippets.nvim has support but it is not expanding well the snippets

**My testing minimal init.lua**

[code]

run `:PackerSync`
close and open neovim again and run `:checkhealth`
`sudo npm install -g vscode-html-languageserver-bin`

![Screenshot from 2021-01-10 21-09-28](https://user-images.gith

[2021-01-11 08:31] runiq commented on #322
Thanks for the effort and the minimal config, that should make debugging much easier! I'll get right on it :)

[2021-01-11 08:56] runiq commented on #322
I can reproduce with any langserver, doesn't work with sumneko and rust-analyzer either.

[2021-01-11 09:30] runiq commented on #322
Got it I believe, dumb mistake on my part.

Could you add `vim.g.completion_enable_snippet = 'snippets.nvim'` to your minimal `init.lua` and see if that fixes things for now? @haorenW1025

[2021-01-11 10:19] runiq commented on #322
Fix is up.

[2021-01-11 17:39] onsails commented on #287
is it possible to autoselect only some complete_items?
My `complete_items` is `['lsp', 'snippet', 'tabnine', 'buffers']`. Can I configure the plugin to autoselect only `lsp` and `snippet` items but not `tabnine` or `buffers`?

[2021-01-11 18:27] saadparwaiz1 opened #324 "Clangd Snippets not working properly"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue
[code]

**How to reproduce**
Open up a C file and try to use one of the macro snippets as follows:
https://user-images.githubusercontent.com/73385353/104222673-88822900-543a-11eb-9

[2021-01-11 18:28] saadparwaiz1 opened #325 "Clangd Snippet Support Not Working"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue
[code]

**How to reproduce**
Open up a C file and try to use one of the macro snippets as follows:
https://user-images.githubusercontent.com/73385353/104222673-88822900-543a-11eb-9

[2021-01-11 19:34] #325 closed

[2021-01-11 20:54] saadparwaiz1 commented on #324
I went through the source code, and the problem apparently arises if the matching strategy doesn't contain 'substring'. If we include substring the problem fixes itself. However, the snippets still don't work as expected as they add an extra angled bracket '>' at the end and a space at the start

[2021-01-11 20:55] saadparwaiz1 commented on #324
here's a video of the problem described:

https://user-images.githubusercontent.com/73385353/104237042-60e98b80-544f-11eb-9689-e3ef8776f25a.mov

[2021-01-12 01:43] dfangx commented on #310
Was wondering if there was anything regarding the two invocations I mentioned above that could be used as a proper solution to this problem?

[2021-01-12 14:20] carlitux commented on #322
@runiq this does not fix the issue for HTML at least.

`opt.get_option('enable_snippet')` and `vim.g.completion_enable_snippet` both have the same value.

Doing a little debug I found this:

Reply from HTML lsp

[code]

a format that is supported as I can read here https://github.com/nvim-lua/completion-nvim/blob/master/lua/completion/source/lsp.lua#L19-L26

Printing complete item:

[code]

I woul

[2021-01-12 15:12] runiq commented on #322
Hmm, alright. Can you reopen this issue? (I can't) I'll take another look.

[2021-01-12 15:14] carlitux commented on #322
I can't, too

[2021-01-13 03:22] haorenW1025 commented on #324
The snippets expansion is not properly done on `completion-nvim` since the main goal of this plugins is to do completion but not snippets expansion. Maybe I'll make it far better when I have some spare time but that's not the priority for now. My suggestion is using `vim-vsnip` and `vim-vsnip-integ` along side with `completion-nvim`. The snippets expansion is far better on their side and it doesn'

[2021-01-13 03:24] haorenW1025 commented on #318
I think we don't provide this for now, but maybe I can add an option for that.

[2021-01-13 03:48] haorenW1025 commented on #318
Can you try #326 and see if it works for you?

[2021-01-13 04:24] haorenW1025 commented on #316
Just like @lithammer said, `completion-nvim` relies on the default completion in vim cores. Although the post is a quite interesting way of doing completion I highly doubt that it'll work in vim because of the limitation of `ins-complete` base on my experience. Anyway this is out of the scope of `completion-nvim`, maybe discussing in neovim's gitter and see if anyone is interested is a better way.

[2021-01-13 04:24] #316 closed

[2021-01-13 04:24] saadparwaiz1 commented on #324
Thank you for the reply!

[2021-01-13 04:24] #324 closed

[2021-01-13 04:27] hrsh7th commented on #322
It is not a snippet problem.

It is TextEdit expansion problem.

[2021-01-13 04:35] hrsh7th commented on #322
The vim-lsp has an implementation for it that is closest to VSCode does.

The vim-vsnip-integ has an implementation for it that is a simplified version of VSCode does.
https://github.com/hrsh7th/vim-vsnip-integ/blob/master/autoload/vsnip_integ.vim#L192

[2021-01-13 10:41] runiq commented on #322
`user_data.actual_item` should only matter for snippets.nvim snippets itself, not for LSP snippets. I'll take another look later today.

[2021-01-13 13:04] nabezokodaikon commented on #318
Thank you for your reply.
Duplicates have been excluded in the #326  settings.

[2021-01-13 13:28] haorenW1025 commented on #318
Merged!

[2021-01-13 13:28] #318 closed

[2021-01-13 13:30] lithammer commented on #234
Something like this together with `let g:completion_sorting = 'none'` is probably the ideal default to me:

[code]

[2021-01-13 13:31] haorenW1025 commented on #306
`completion-nvim` doesn't support snippets natively, but if it's possible that @hrsh7th can gave somewhat a parsed snippets format from `vim-vsnip` it's definitely possible to show it along with the hover window since we already have something like that for `UltiSnips`

[2021-01-13 13:31] nabezokodaikon commented on #318
confirmed. Thank you!

[2021-01-13 15:43] runiq commented on #322
@hrsh7th is correct, this is not a snippets problem, since `insertTextFormat` is 1 (i.e. plain text).

@carlitux I feel like I misunderstood what you expected to get originally – at first I thought you wanted something like this (`|` being the cursor):

[code]

to complete to:

[code]

…but judging from the `TextEdit` you posted, that's not what you're expecting to happen, right? What you really w

[2021-01-13 15:56] hrsh7th commented on #322
No. In this case, html-language-server returns CompletionItem that represents `indentation fixing` by TextEdit.

1. Type `<`
[code]

2. Insert tag name and leave `>`
[code]

3. Insert `<CR>` and insert closing tag
[code]

4. Confirm `/html` item then fix the indentation.
[code]

The completion behavior is very complex.
Almost language servers aim to support VSCode's behavior...

[2021-01-13 19:31] carlitux commented on #322
on the last line with text `<` after selecting completion must be `</html>` but instead is `</</html>`

final must be

[code]

but getting

[code]

Not sure if has to handle indentation.

[2021-01-14 06:57] haorenW1025 commented on #302
Sorry for the long wait. Can you see if the PR works for you?

[2021-01-14 12:51] runiq commented on #322
That's because neither `<` nor `/` are valid keyword characters for html, and completion-nvim searches for the completion keyword [by using the pattern `\k*$`](https://github.com/nvim-lua/completion-nvim/blob/74331ddc579a8b405e17532fac7ff77a8ac962ec/lua/completion/source.lua#L142-L159). In order to get the correct completion behavior, you'll have to `setlocal iskeyword+=<,/,!>

[2021-01-14 14:07] quantum-booty opened #329 "Option to sort certain completion items at the bottom (or at the top) of the list"
![image](https://user-images.githubusercontent.com/28958399/104601187-d59c1000-5671-11eb-9961-72a4369608a2.png)
Pyright language server provides dunder methods of a class, which hides the other more important items like functions and class attributes. Can we add an option to sort items so they are at the bottom? Maybe let us use regex to define things we want at the top or at the bottom.

[2021-01-14 14:17] carlitux commented on #322
@runiq maybe shouldn't be set automatically?

```lua print(vim.inspect(vim.lsp.buf_get_clients()[1].server_capabilities.completionProvider.triggerCharacters)) ```

or should be handled by `snippets.nvim` as `vim-vsnip` does with `vim-vsnip-integ`?

[2021-01-14 14:19] lithammer commented on #329
GH-234 should solve this. You can apply the diff and play around with it. But basically, it should sort completion items in the order that the language server (i.e. Pyright) wants them.

[2021-01-14 14:33] runiq commented on #322
This has nothing to do with how snippets.nvim does things.

[2021-01-14 14:55] quantum-booty commented on #329
@lithammer Thank you, this works very well :)

[2021-01-14 16:35] #302 closed

[2021-01-14 18:52] #329 closed

[2021-01-14 18:53] haorenW1025 commented on #329
@lithammer Thanks a lot for the fixes. I mainly use your code snippets in the PR so it should be working fine now.

[2021-01-14 18:53] lithammer commented on #234
Fixed by #330

[2021-01-14 18:53] #234 closed

[2021-01-14 21:15] FelipeLema commented on #316
I could only find incomplete bits here and there.

According to [this stackexchange answer](https://vi.stackexchange.com/questions/12882/how-to-select-a-matched-autocompletion-item), digit keys can be mapped when doing completion. However, it does not explain how to add the corresponding index to each candidate being shown.

I'm leaving the code posted there over here for posterity (mind the licen

[2021-01-15 03:53] hrsh7th commented on #322
I think snippets.nvim can do the same thing that vim-vsnip does.

But vim-vsnip-integ is handling the more complex case of LSP CompletionItem expansion.

I think it would be good to support LSP CompletionItem expansion in `completion-nvim`.
If it has done, we don't have to install vim-vsnip and vim-vsnip-integ to support complex expansion.

[2021-01-15 04:30] hrsh7th commented on #322
I can add snippets.nvim support to vim-vsnip-integ (it is a bit weird. but will work fine may be).

[2021-01-15 08:11] runiq commented on #322
I definitely agree, I'd have expected it to be handled already. I found where that stuff was handled yesterday, I'll take a stab at it over the weekend. This should then also be able to complete multiline items.

[2021-01-15 16:18] runiq commented on #322
@carlitux I don't think so, since this is specific to the `html` filetype and the (rather idiosyncratic IMHO) behavior of this specific langserver. So I suggest just doing `setlocal iskeyword+=<,>,!,/` in `~/.config/nvim/ftplugin/html.vim`. If you only ever use this langserver for the HTML filetype, this should solve this issue, I assume?

[2021-01-17 16:50] eddyekofo94 commented on #322
`Error executing vim.schedule lua callback: stack overflow`

This is what I am getting :/

[2021-01-17 19:56] runiq commented on #322
@eddyekofo94 When? Where? How?

[2021-01-17 20:20] carlitux commented on #322
not sure as you posted the video

instead of

[code]

I get

[code]

The same issue I am getting with flow type for example nvim state `variable.|` and suggest `?.field`

instead of

[code]
I get

[code]

What I think already it is a completion issue for these edges

[2021-01-17 20:57] runiq commented on #322
What do you mean?

Are you sure you set `iskeyword` correctly in the html document? (See video) Can you do show me `iskeyword` and the value of `v:completed_item` after that faulty completion?

I don't know what that is, are you referring to the [Flow typechecker](https://flow.org)? I'd need to see at least the value of `v:completed_item` after the failing completion in order to be able to debug t

[2021-01-18 15:38] mouhgh96 opened #332 "navigate through popmenu using tab"
i'm using this config from the readme it works for <S-Tab> but not for <Tab>
i don't understand where is the issue please help me
`inoremap <expr> <Tab>   pumvisible() ? "\<C-n>" : "\<Tab>"
inoremap <expr> <S-Tab> pumvisible() ? "\<C-p>" : "\<S-Tab>"`
[my config for completion](https://github.com/mouhgh96/nvim-config/blob/main/plug-config/completion.vim)

[2021-01-18 19:03] mouhgh96 commented on #332
sorry i had a problem in my rc

[2021-01-18 19:03] #332 closed

[2021-01-20 13:26] rafcamlet opened #334 "Make triming whitespace from completion words and abbrvs optional"
As in subject in regard to this commit: https://github.com/nvim-lua/completion-nvim/commit/6c384ca711c8581d48ffd82d2e7ef79110503a11

[2021-01-20 13:28] lithammer commented on #334
I'm curious what your use-case is for keeping the whitespace (i.e. not trim)?

[2021-01-20 13:34] rafcamlet commented on #334
A matter of habit and consistency with intended LSP behaviour. I'm using vscode-css-languageserver-bin and It now starts working differently than in vscode.

[2021-01-21 15:03] hrsh7th commented on #322
I've created an example implementation.

https://github.com/hrsh7th/vim-vital-vs/pull/6/files

[2021-01-21 16:05] coxackie opened #335 "Random autocompletion in pop-up menu with lsp when setting "completion_trigger_keyword_length""
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
[code]
(The completion list is remnant of my full init when I use lsp, but the issue I am describing persists with this minimal init and no other plugins except `completion-nvim`. You can try it with or without the `nvim-lspconfig`

[2021-01-22 14:27] rustiever opened #336 "cannot trigger filename completion on current directory"
I couldn't find any documentation on this, there is vim keybinding for this, but what I prefer is there should be option to set this up?

[2021-01-22 15:22] rustiever opened #337 "key-maps are not working as expected"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
local nvim_lsp = require('lspconfig')
local on_attach = function(client, bufnr)
  local function buf_set_keymap(...) vim.api.nvim_buf_set_keymap(bufnr, ...) end
  local function buf_set_option(...) vim.api.nvim_buf_set_option(bufnr

[2021-01-22 16:06] lucax88x commented on #273
@quantum-booty  that would be cool, can you create a separate issue for that?

[2021-01-22 16:06] lucax88x commented on #273
@haorenW1025 please, consider investing on this issue, I think that really makes sense to prioritize ordering of sources.

[2021-01-22 16:07] lucax88x commented on #273
@haorenW1025  would you explain in the readme or there, how I can separate in groups?

I currently have this chain config

[code]

[2021-01-22 16:21] garypippi commented on #337
It's assigning default `on_attach` function from this repo instead of custom `on_attach` it defines.
`require('completion').on_attach(client)` should be wrapped inside the custom `on_attach` function.

[2021-01-22 16:53] rustiever commented on #337
I'm not good at Lua, can you tell me how to wrap that? please

[2021-01-22 17:16] garypippi commented on #337
I'm not so familiar with lua or vim but...
Here I modified some lines.
[code]
Also `buf_set_keymap` 's third argument should have `<cmd>` before calling `lua` and `<cr>` after calling lua function.
I hope it helps !

[2021-01-23 19:25] MurdeRMelodY opened #338 "Question!?"
Is it possible to manually trigger completion with the "packer.nvim" plugin manager?

[2021-01-24 18:10] lucax88x commented on #203
I actually also think it would really benefit a lot to add some debounce on user input, it makes (to me) no sense to trigger the completion every time I press a key while I'm typing a full word, for example, I want to write 'feedback', it's trying to show me completion for each letter and it's noticeably lagging and freezing while writing.

[2021-01-25 04:05] bluz71 commented on #203
Issue #231 (closed in favour of this) requested a debounce like the [LSC](https://github.com/natebosch/vim-lsc) plugin (which uses 500ms completion debouncing, along with incremental `textDocument/didChange` requests).

LSC feels more responsive to me than Neovim LSP + completion.nvim even though it is written in Vimscript whilst the latter are LuaJIT (which is thousands of times faster than Vimsc

[2021-01-25 18:06] #338 closed

[2021-01-26 22:18] seblj commented on #239
Are there any updates to this? For some reason the 'fix' provided by @ngtinsmith does not work for me in python. It does however work in C.

[2021-01-27 05:54] bluz71 commented on #203
I just tested out the [nvim-compe](https://github.com/hrsh7th/nvim-compe) completion plugin and in my quick testing it feels smoother and more responsive than completion-nvim. The plugin supports Neovim's LSP.

I only found out about nvim-compe a day or so ago. It is by the same developer of [vim-vsnip](https://github.com/hrsh7th/vim-vsnip) (which has been my preferred snippet plugin for a while n

[2021-01-27 08:51] lucax88x commented on #203
I think that this plugin (completion-nvim) is indeed future as it will probably be in nvim core, but for now, it still need improves, I am also switching as nvim-compe feels smoother but I will be back asap this is improved.

[2021-01-27 09:23] lithammer commented on #203
I don't think that's true. Neovim core already provides completion via `omnifunc=v:lua.vim.lsp.omnifunc`. As far as I know there are no plans for as-you-type-completion (a.k.a auto-completion).

[2021-01-27 21:30] #305 closed

[2021-01-27 23:24] ahmedelgabri commented on #203
@bluz71 thanks for this! I just tested it & it's a massive difference. Instant switch.

[2021-01-27 23:30] seblj opened #341 "Can't integrate with vimtex"
I am having trouble integrating completion-nvim with vimtex even after doing exactly as said in wiki on integrating custom sources.

Neovim version: NVIM v0.5.0-dev+1045-g24b60322a
nvim-lspconfig version: 6a33e9b
completion-nvim version: fc9b2fd
vimtex version: b2e93e1

[code]

I have configured the vimtex.lua file inside ~/.config/nvim/lua btw

**How to reproduce**
Setup vimtex as the wiki explai

[2021-01-28 08:56] weilbith commented on #203
@lucax88x just because I'm curious: why do you think so? :thinking:

[2021-01-28 10:42] lucax88x commented on #203
@weilbith  Probably because of my ignorance, but I saw it's under nvim-lua and I just did 1+1..

[2021-01-28 16:59] pbogut commented on #273
I have it like this:
[code]
So so I have `lsp` and `snippet` in one group and `buffers` in other one.

In your case it would be something like this:
[code]

You have it described [here](https://github.com/nvim-lua/completion-nvim/wiki/chain-complete-support)

[2021-01-28 17:26] pbogut commented on #273
I also just found out that you can sort by types, and use it to push things like buffers to the bottom of the list
[code]

![screenshot_from_2021-01-28_18-18-57](https://user-images.githubusercontent.com/1702152/106175199-204f7900-6196-11eb-8a0a-23a5d6a22458.png)

[2021-01-29 15:01] rustiever commented on #337
thanks  👍🏻

[2021-01-29 15:01] #337 closed

[2021-01-29 17:44] coxackie commented on #335
ok, I see no response. I am going to leave this here for posterity, in case someone ever reads it. Anyway, moving on to a different auto-completion plugin.

[2021-02-01 18:55] lnicola opened #343 "Matching should favor `exact` and `substring` against `fuzzy`"
Apologies if I'm missing something, I'm quite new to this plugin.

I set

[code]

However, the ordering of completions I get is less than great:

![image](https://user-images.githubusercontent.com/308347/106504430-970ab000-64cf-11eb-94d1-c00e9247fbf0.png)

Compare to what Code does:

![image](https://user-images.githubusercontent.com/308347/106504462-a38f0880-64cf-11eb-84ac-befa35c9c9aa.png)

I th

[2021-02-03 18:30] mjlbach commented on #23
I'm still having this issue with strings in lua completion

[code]

[2021-02-08 09:47] emi2k01 opened #344 "I have to pass `snippetSupport = true` to rust-analyzer for snippets to work"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue

[code]

**How to reproduce**
In the function main of a cargo project type `prin`, select `print!` from the list and press enter. The snippet will be completed.

Now remove the cap

[2021-02-08 09:49] lithammer commented on #344
Duplicate of https://github.com/nvim-lua/completion-nvim/issues/258

[2021-02-08 21:02] dfangx commented on #341
I had this issue too. I don't know if this is a good workaround, but I got my configuration working by adding `vim.api.nvim_call_function('vimtex#complete#omnifunc',{1, ''})` in vimtex.lua before `local items = ...`

[2021-02-09 05:11] emi2k01 commented on #344
Sorry about that

[2021-02-09 05:11] #344 closed

[2021-02-09 07:25] Julpikar commented on #281
My setting work on golang code using this configuration.
[code]
On LSP completion
[code]

[2021-02-09 10:26] weilbith commented on #281
As I switched over to `compe`, I gonna close this issue.

[2021-02-09 10:26] #281 closed

[2021-02-10 22:21] seblj commented on #23
I am also having problems with completion of path. It does work when typing '/':
[code]
Inside the quotes, ```:echo synIDattr(synID(line("."),col("."),1),"name")``` returns pythonString

It does not work inside a string for a method call in python for example. When specifying the file in the method "open" in python, it does not autocomplete the path. Even though it is recognised as a pythonString

[2021-02-11 06:05] seblj commented on #183
Any updates on this?

[2021-02-14 15:46] ankush commented on #336
#23

[2021-02-15 13:56] rustiever commented on #336
Ok then it seems to be duplicate
I'll close this issue

[2021-02-15 13:56] #336 closed

[2021-02-22 23:59] AltamimiYasser opened #346 "[Question] how to add more than one source to snippets?"
I don't know if it is possible, I searched all over the docs. I tried:
`let g:completion_enable_snippet = ['UltiSnips', 'vim-vsnip']`
and this obviously shows an error, also tried
[code]
also didn't work, and tried:
[code]

and didn't work :(

[2021-02-23 00:19] Shougo commented on #346
You should not mix snippet plugins.
It conflicts with others.

[2021-02-23 03:17] AltamimiYasser commented on #346
I was not aware of that, thanks

[2021-02-23 03:17] #346 closed

[2021-02-24 19:33] nkcfan opened #347 "Support mu-template as a snippet source"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Support [mu-template](https://github.com/LucHermitte/mu-template) as a snippet source

**Describe alternatives you've considered**
Not use snippet at all

[2021-02-25 07:23] krisfans commented on #216
It seems only the first item works...and othrt complete_items will be ignore

[2021-02-25 08:49] krisfans opened #348 "How can I get completion items , path ,lsp ,snippet and buffers work togather?"
**Describe the solution you'd like**
I want to get  completion items , path ,lsp ,snippet and buffers work togather, but I don't know how to config.

if I configure  completion-nvim like below , I can only get the fisrt two completion items --lsp and snippet.
[code]

and if I configure like this , I can get all the completion items ,but I can't set `'triggered_only': ['/']`
[code]

[2021-02-26 02:39] sburris0 opened #349 "No autocomplete whatsoever"
**Issue**
- [x] Latest neovim from github (`NVIM v0.5.0-dev+1114-g0c7610cf9`)
- [x] All plugins updated
- [x] No LSP configuration other than calling setup
- [x] Does not work using minimal troubleshooting `init.vim` from the [wiki page](https://github.com/nvim-lua/completion-nvim/wiki/trouble-shooting)
- [x] `:checkhealth` reports no relevant issues (lua and general section all green)
- [x] LSP w

[2021-02-27 01:20] sburris0 commented on #349
Okay, it seems this is actually an issue with my LSP set up.
Apparently it displays lints when 1. I save the buffer or 2. some 40 seconds have passed.
Autocomplete works after the 40 seconds or whatever pass.
Now I just need to figure out why it is slow.

[2021-02-27 01:20] #349 closed

[2021-02-28 19:45] cds-amal opened #350 "Cannot parse scoped g:completion_chain_complete_list example from help"
**My testing minimal init.vim**
[code]

**How to reproduce**
open neovim with above config

**Expected behavior**
It should parse the sample scope config example from `:help completion-nvim`

[2021-03-01 15:33] #275 closed

[2021-03-01 16:05] mnowotnik opened #351 "Don't treat the first line of signature help as markdown"
First line of signature help is treated as markdown and markdown errors
(like unescaped underscore) are highlighted as errors. It looks like [this](https://preview.redd.it/0tckma2juvw51.png?width=1631&format=png&auto=webp&s=cac44c8bae9a8ad04e19aee78f59086b1fe405e7) .

I wondered why hover action doesn't have this problem and figured out that syntax there is explicitly set to `lua` using this comma

[2021-03-03 14:41] goolord opened #352 "Supress E433: No tags file"
I would like to enable tags in my default completion chain without doing any configuration to check if a tags file exists on_attach. However, when I do this the command line is spammed with `E433: No tags file` and it brings editing to a halt for a moment

[2021-03-07 13:07] siduck76 opened #353 "html no autocompletition at all"
I do have nvim-lspconfig and nvim-completition installed , dont see any errors but there's no popup window with autocompletition and here's my config for html ( mostly defaults )

https://paste.sh/1o7jQjlk#UIkAiHklClc2WItXjbktUzKa

[2021-03-08 07:01] #353 closed

[2021-03-10 15:36] #247 closed

[2021-03-10 15:36] #246 closed

[2021-03-11 09:19] svcop3 opened #354 "Rust analyzer postfix completion issue"
When expanding rust analyzer postfix completion, the trigger text is not replaced.

minimal.vim :
packadd minpac
call minpac#init()
call minpac#add('k-takata/minpac', {'type': 'opt'})
call minpac#add('neovim/nvim-lspconfig')
call minpac#add('nvim-lua/completion-nvim')
call minpac#add('norcalli/snippets.nvim')

set completeopt=menuone,noinsert,noselect
set shortmess+=c
set signcolumn=yes

lua <<EOF

[2021-03-15 03:54] yashguptaz commented on #215
Any updates about Emmet being implemented in completion-nvim?
How can I use Emmet with comlpetion-nvim?

[2021-03-15 23:27] #298 closed

[2021-03-19 21:26] ranjithshegde opened #355 "Chain sources are not respected"
Regardless of where I place the config for chain completion + modes, nor what i change in it, it always defaults to lsp+snippets in first mode, tags and buffer in second.

[code]
I have tried the above, putting similar in packer.nvim after use, as a function, putting the above in vimL format in init.nvim, nothing works

[2021-03-20 19:13] baco opened #356 "Wrong markdown rendering when showing method documentation"
**My testing minimal init.vim**
[code]

**How to reproduce**
* Start writing a method's name, for instance `br` for `break` or `breakpoint()` in Python
* Navigate through the options to get method's documentation expanded on the right of the completion list
* The following floating window is shown. Syntax highlighting is wrong, as if the star character (`*`) was interpreted as surrounding bold tex

[2021-03-20 22:37] tjdevries opened #357 "Remove from `nvim-lua`?"
Hey @haorenW1025, I know you've been busy with a lot of stuff and I haven't really had any time to look at `completion-nvim` lately either.

I'm wondering if we wanted to remove it from `nvim-lua` to some other organization (or if we wanted to pass the ownership to someone else?).

Wondering your thoughts.

- TJ

[2021-03-21 00:21] baco opened #358 "Whith narrow screen, completion list of methods overlaps the documentation window"
When the space at either side of the completion list is too narrow, the documentation floating-window gets behind completion list, having part of the text impossible to read.

**My testing minimal init.vim**
[code]

**How to reproduce**
* Have launched vim in a 80 column terminal
* Intent a line as if you needed to write your first character around column 40 (half of the width of the terminal)
* S

[2021-03-24 00:50] baco opened #361 "Add padding to floating documentation window"
Method's documentation appearing on the floating window put text starting at the very edge of the window, using all the left border of the window.  In some occasions when the window extends below the completion list, letters at he edge may be confused with the code behind the floating window.

![Screenshot from 2021-03-23 21-42-21_](https://user-images.githubusercontent.com/102958/112237553-ab4272

[2021-03-31 10:47] luathn commented on #237
Because this plugin can not use fuzzy mode, so I use nvim-compe instead.
Waiting for a PR fix it.

[2021-04-02 04:46] Antonio-Bennett opened #363 "UltiSnip Integration Help"
Hi whoever helps. I would love to use honza snippets since there is a wide variety of languages and they come preinstalled. I'm coming from vim-vsnip which doesn't support it but the original code I had is

[code]
I thought this would map to this code below but it doesn't seem to work any ideas?
[code]

[2021-04-03 03:58] baco opened #364 "Boolean settings don't take boolean values as valid"
**My testing minimal init.vim**
[code]

**How to reproduce**
Load some file and completion won't take those settings into account.

**Expected behavior**
Complete using the set options (matching_ignore_case, matching_smart_case and trigger_on_delete) as when setting them to `1` instead of `v:true`

[2021-04-08 03:25] #252 closed

[2021-04-17 19:42] andreicorpo opened #366 "Javascript/React auto completion and auto import"
Hello, I just can't figure out how to setup this plugin for javascript and react.

This is my config:
[code]

Buffers and snippet support is working, but LSP doesn't seem to work for javascript/react. Although it is working for lua.

I am using to autocommand to setup completion.

[2021-04-18 10:31] elkowar commented on #300
This is not snippets tho 🤔 I have the same issue here, it just doesn't show the hover popup while completing, ever. Would be great if this could be fixed

[2021-04-21 08:42] ranjithshegde commented on #357
I find this to be the best autocomplete plugin seeing as how it integrates with ins-complete and default lsp features, chain completion support etc... It is more "vim-like" than other auto complete plugins
Would be incredibly sad if its no longer considered nvim-lua, and halt development

[2021-04-26 02:43] jyscao commented on #252
Just want to let the maintainers know that #333 doesn't appear to have fixed this issue.

I still needed to apply the workaround of setting `let g:completion_enable_snippet = 'snippets.nvim'` and `set iskeyword+=$` for completion on the `$`-char to work using Intelephense.

[2021-05-10 04:36] jyscao opened #367 "Completion occasionally causes whole nvim session to hang"
I don't know how to reproduce this issue consistently, but it happens with enough frequency (1-2x per 6-8 hours of programming) that it has become fairly unpleasant to deal with.

It only occurs when a word comes up in the completion, then my entire nvim session hangs like shown below:
![image](https://user-images.githubusercontent.com/12605746/117605313-6a48e300-b125-11eb-8178-0c56ae2d3a24.png)

[2021-05-13 16:09] Robaire opened #368 "Completion window causes vim.schedule error"
Completion frequently causes the error: `Error executing vim.schedule lua callback: /opt/neovim/runtime/lua/vim/lsp/util.lua:1025: Failed to switch to window 10--)`

In my case this seems to happen only when loading completions for OpenCV and when typing quickly. My theory is that I am typing faster than the completions are loading (slowly since OpenCV is large), and effectively the window no long

[2021-05-14 21:15] ZeroKnight commented on #355
Are you actually setting `Chain_complete_list` in your config or is this just an example? I'd make sure that you're setting `vim.g.completion_chain_complete_list`.

[2021-05-26 15:55] ibraheemdev opened #369 "Completion withing strings"
[code]

I'm running neovim 0.5 with the native LSP and rust-analyzer, and I am running into an issue where I am still getting autocomplete while typing withing double quoted strings. It doesn't occur with regular strings creating, `let x = "...";`, but it does consistently within rust macro invocations:

![2021-05-26_11-56](https://user-images.githubusercontent.com/34988408/119692214-39e99000-be19

[2021-05-27 10:37] sandersantema commented on #367
I've been having the same problem and thought it was my completion plugin too, but given that I currently use deoplete that should be enough of a hint to tell us with quite some certainty it's not the completion. I think that it's a bug in Ultisnips, although searching trough their bug tracker I don't know which one give that there are quite a lot of bug reports about freezing etc. For me it even

[2021-05-27 16:26] kdav5758 commented on #363
No need to map them using functions and such, use what they tell you to use in the README:
[code]

[2021-05-27 16:32] Antonio-Bennett commented on #363
Oops didn't realize this was still open. I just ended up sticking with compe. The thing is I can use tab to expand AND traverse snippet jumping instead of control+p etc

[2021-05-27 16:32] #363 closed

[2021-05-27 18:20] J-E-Mc opened #370 "Sumneko-lua showing out of context autocomplete selections"
**My testing minimal init.vim**
[code]

**How to reproduce**
make a new lua file and type
[code]
then (on a new line) type `tbl.` and look at the autocomplete suggestions

**Expected behavior**
one suggestion appears named `key` (like it does in the vscode extension that the language server is from)

**Current behaviour**
all variables and snippets appear even though they would be invalid in that

[2021-05-27 19:41] ranjithshegde commented on #355
well I have tried both.. But now somehow with the same config it works. Possible some other plugin was interfering. I have no idea. Closing for now

[2021-05-27 19:41] #355 closed

[2021-06-01 10:52] KayJay7 opened #372 "LSP function parameters completions/signature sugestions not working on neovim nightly"
Just like the title says, when writing a function it should pop up signature suggestions, but it gives an error instead. More details below. Everything else seems to be working.

**My testing minimal init.vim**
[code]

**How to reproduce**
Open a C or C++ files (happens with other LSPs too, I've tried it with rust-analyzer). Try to call a function. Every time you start writing an argument, it will

[2021-06-01 21:06] ranjithshegde commented on #372
check with master now? I think #371 fixed this

[2021-06-01 21:46] KayJay7 commented on #372
Yes, it solved the problem, I guess the other behavior was already there, and I just didn't notice. I probably never used tab before writing at least the first letter of the argument.

I noticed another weird new behavior: when I use the completion on a rust function, instead of just writing the first parenthesis and displaying options, it writes down the entire function call, filling the argument

[2021-06-01 21:48] KayJay7 commented on #372
Solved by #371

[2021-06-01 21:48] #372 closed

[2021-06-02 10:11] ranjithshegde commented on #369
if I understand you correctly, you do not want completion on strings?
if so then perhaps you could do something like this?
[code]

[2021-06-02 10:16] ranjithshegde commented on #366
what autocmd are you using to setup completion?
do you have something like the following

`        au BufEnter * lua require'completion'.on_attach()
`
or do you have it per filetype? or in an `on_attach(client,bufnr)` funtion?

[2021-06-03 16:50] thomkeh commented on #261
Thanks @BokilaLin , this worked great. The described problem happened for me with [telescope.nvim](https://github.com/nvim-telescope/telescope.nvim) after I added the [buffers](https://github.com/steelsojka/completion-buffers) completion source which I wanted to be available in all (file) buffers.

[2021-06-05 18:54] noib3 opened #373 "Trigger path completion only after typing path separator"
**Is your feature request related to a problem? Please describe.**
Let's say I have a directory with a single `foo.vim` file inside it and I start editing it.

Having included `'path'` in my default `complete_items`, if I type `f` I get `foo.vim Path (file)` as an autocompletion suggestion. I'd like to change this behaviour so that the autocompletion triggers only after typing `/`, so in this case

[2021-06-07 17:58] MrcJkb opened #375 "Add "minimum completion length" option for completion types."
**Is your feature request related to a problem? Please describe.**
It is usually faster to type a 2-3 letter keyword than it is to select it from an auto-complete list.
For example, with my current configuration, typing `in` results in the following completion list:
[code]

**Describe the solution you'd like**
For me, the `if` and `int` completions (and possibly the UltiSnips `in` snippet) are use

[2021-06-12 19:19] matoous commented on #354
Hi! Just wanted to add: this applies to other LSPs (most likely) as well, for example for gopls the behaviour is same. I tried with the latest version 0.7.0 which has added support for postfix completions: https://github.com/golang/tools/releases/tag/gopls%2Fv0.7.0 and encountered same issues as you. I am not sure whether the issue is related to `nvim-lua/completion-nvim` though. This might be iss

[2021-06-17 22:41] loshjawrence opened #376 "Cursor jumps into floating window of function signature help"
**My testing minimal init.vim**
[code]

**How to reproduce**
1. Get the function signature help to pop up by typing some params in a function call site.
2. Sometimes cursor will window jump into the floating window. for me its >50% of the time so it makes function signature help unusable.
3. Can try to brute force trigger by holding `,` or holding delete on a long string of `,`
![image](https://us

[2021-06-17 23:00] loshjawrence commented on #376
Closing as this seems to be a neovim issue.

[2021-06-18 03:19] mjlbach commented on #376
This is not a neovim issue, but a completion.nvim issue

[2021-06-20 22:18] ldelossa commented on #45
@haorenW1025 this is pretty close, but completion does not seem to be aware of its context.

For instance in Go, even if I prioritze Fields to be higher, I get field suggestios not relevant to the struct I'm currently inside.

[2021-06-21 15:44] jarimayenburg commented on #376
I'm having the same issue
![Peek 2021-06-21 17-43](https://user-images.githubusercontent.com/11874892/122790165-5661d680-d2b8-11eb-942a-4c0f74b22baf.gif)

[2021-06-23 12:02] nabezokodaikon opened #380 "[Question] How can I avoid the check health error caused by the lack of snippet source?"
How can I avoid the check health error caused by the lack of snippet source?
I don't use snippets, so I want to avoid this error.
<img width="976" alt="スクリーンショット 2021-06-23 20 58 23" src="https://user-images.githubusercontent.com/3197942/123092738-c5306280-d465-11eb-8b77-b64058522df8.png">

[2021-06-27 21:04] yochem opened #381 "Negative position value in textDocument/hover request"
- [x] Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue

[code]

**How to reproduce**
Detailed step to reproduce this issue.
1. Open a `.tex` file (and possibly confirm that the texlab language server is connected to buffer)
2. Type

[2021-06-28 15:23] nabezokodaikon opened #382 "[Question]Can I complete it when I enter a Git commit message?"
Can I complete it when I enter a Git commit message?
<img width="948" alt="スクリーンショット 2021-06-28 23 50 32" src="https://user-images.githubusercontent.com/3197942/123657323-a5d17500-d86b-11eb-8f95-efe160d74a17.png">
I want buffer completion.

[2021-06-28 15:24] nabezokodaikon commented on #382
I realized it under the following conditions. Thanks.

Require [hrsh7th/nvim-compevim-compe](https://github.com/hrsh7th/nvim-compe#lua-config)

lua
[code]

vim
[code]

[2021-06-28 15:24] #382 closed

[2021-06-28 22:40] gpanders commented on #373
Similarly, if a path separator is found completion should only offer path completion items (e.g. if I have `/usr/local/` then I most likely don't want auto completion to suggest LSP symbols).

[2021-07-02 20:48] cljoly commented on #261
The problem also happens for me with telescope and your solution to check the `buftype` works.
To trigger the bug, I need to have the option `completion_auto_change_source` set to `1` and the problem goes away if I comment [this line](https://github.com/nvim-lua/completion-nvim/blob/d62fff879b29fa1ce915887a75305af0fff57d32/lua/completion.lua#L209) (`source.triggerCompletion(false, manager)`).

[2021-07-03 13:29] #376 closed

[2021-07-03 14:19] hood opened #383 "Keep function arguments hint popups open during typing"
**Is your feature request related to a problem? Please describe.**
I constantly have to go back to a function name and trigger LSP hints to remember myself what type its arguments are.

**Describe the solution you'd like**
I'd like to have the argument type hint popup kept visible during my typing.

[2021-07-03 17:32] #351 closed

[2021-07-04 08:08] ranjithshegde commented on #375
@MrcJkb
Do you mean the minimum amount of characters after which completion should be triggered?
if so, have tried let `g:completion_trigger_keyword_length = 3`

[2021-07-04 08:11] ranjithshegde commented on #373
@noib3
I am not sure if you are already aware of this, but you can set trigger character for each source like this
[code]

[2021-07-04 08:25] ranjithshegde commented on #23
@seblj i was just going over your post, shouldn't "tex" list come outside the second default table? like this
[code]

[2021-07-04 08:27] seblj commented on #23
Maybe, but I have switched over to compe, so it's not a problem anymore

[2021-07-04 11:26] ranjithshegde commented on #356
@baco
is it fixed by #371?

[2021-07-05 03:07] nanozuki opened #384 "Report error when attach_on with no option"
**My testing minimal init.vim**

local nvim_lsp = require 'lspconfig'

[code]

**How to reproduce**
Let LSP and completion-nvim load on all filetypes. And just open the nvim.
And the nvim will print an error message:

[code]

**Expected behavior**
on error message print.

[2021-07-05 03:13] nanozuki commented on #384
I tried to fix this problem at #385

[2021-07-05 09:19] nanozuki commented on #384
Oh no, nvim-completion call on_attach twice in my config file by mistake. this is not a bug.

[2021-07-05 09:19] #384 closed

[2021-07-06 07:26] MrcJkb commented on #375
Yes, thanks for the hint. But I suppose that variable would affect all sources, wouldn't it?
Ideally, I would like to be able to set the minimum amount of characters for different sources, e.g. 2 for UltiSnips and 5 for LSP.

[2021-07-06 16:22] noib3 commented on #373
I didn't know that, I just tried it and it works. However having two separate completion sources is not very ergonomic since it requires extra key presses to select the right source. I wish I could specify `path` sources to only be triggered after a `/` while still having a single completion menu with all the possible items.

[2021-07-06 16:36] ranjithshegde commented on #373
You could play around with  ` let g:completion_auto_change_source = 1` and changing the priorities of sources as necessary

[2021-07-06 19:22] noib3 commented on #373
I tried that with the following setup (lua syntax):

[code]

I'd expect `lsp` completions to show up when I'm not typing a path, but I get the same exact behaviour that I get leaving `g:completion_auto_change_source` to zero.

[2021-07-07 06:58] ranjithshegde commented on #373
the per source `triggered_only` is a new and not yet documented feature.
Perhaps @haorenW1025 the author could help you further

[2021-07-07 07:23] ranjithshegde commented on #375
Hmm, I doubt there is a way to do that yet.
Maybe play around with `let g:completion_sorting = "length"`. I dont know if length sorts ascending or descending, but worth a try?

[2021-07-17 06:57] wgxh-cli opened #388 "Insert <tab> will wait 1 second."
I follow example configuration, on insert mode, i insert `<tab>`, neovim will wait 1 second.
I try to set `timeoutlen` to zero and insert `<tab>` doesn't waiting. But in normal mode, shortcuts i mapped doesn't wait either.

So how to solve this problem?

[2021-07-28 11:40] devenv opened #389 "Completion breaks jumping to the next placeholder in ultisnips"
Jumping to the next placeholder in a snippet doesn't work after a completion.

**My testing minimal init.vim**
[code]

Tried without `inoremap <tab>` too.

**How to reproduce**
Expand any snippet with two or more placeholders, autocomplete anything then press tab, it doesn't work.
e.g. `from ${1} import ${2}`
from<tab><c-n><c-n><cr><tab>

[2021-07-29 07:38] ranjithshegde commented on #389
This is a known Utlisnip problem. Whatever "expand" `imap` you have for snippets in UltiSnips (default is tab), you cant use that key anywhere else.
So I would suggest something like `C-n` and `C-p` for `pumvisible` popup and `Tab` `S-Tab` for UtliSnip expansion

[2021-07-29 08:16] devenv commented on #389
Thanks for reply :)
But I don't use tab for completion, I use C-n.

[2021-07-29 08:23] devenv commented on #389
I changed utlisnips mapping to
[code]
same behavior.

[2021-08-01 22:03] crypticC0der opened #390 "ability to set the max size of the completion menu"
**Is your feature request related to a problem? Please describe.**
the completion menu whe the number of options is large can take up the entire nvim window and it can hinder usability

**Describe the solution you'd like**
ideally there would be an option to set the max line height of the menu

**Describe alternatives you've considered**
ive looked all around and cant seem to find it implemented a

[2021-08-02 01:22] Shougo commented on #390
`set pumheight=20`

[2021-08-03 11:12] #390 closed

[2021-08-04 22:44] baco commented on #361
I think it might already be solved.

[2021-08-04 22:45] baco commented on #361
I think it might already be solved.

[2021-08-04 22:45] #361 closed

[2021-08-06 16:32] Rmmichael95 opened #392 "Doesn't load with init.lua"
- Please read through [this section](https://github.com/haorenW1025/completion-nvim/wiki/trouble-shooting) before posting a bug report.

**My testing minimal init.vim**
Post your init.vim to help me reproduce this issue

local o = vim.o    -- global options
local cmd = vim.cmd
local map = vim.api.nvim_set_keymap

require "paq" {
    "savq/paq-nvim";                  -- Let Paq manage itself

    "

[2021-08-07 19:15] #392 closed, assigned to nobody

[2021-08-22 12:27] euoia opened #394 "Warning if source is missing"
**Is your feature request related to a problem? Please describe.**
Hi, I just spent a little while trying to figure out why my UltiSnips snippet sources were not showing up in the completions menu. In the end, I realised it's because I made a typo and wrote `snippets` when the actual source should be `snippet`. I think the confusion might be partly due to steelsojka/completion-buffers using `buffe

[2021-08-27 22:39] mtoohey31 opened #395 "Broken custom completion source example"
Hello! I was doing some testing with custom completion sources and noticed that the example in the wiki doesn't work. There's no way for me to open a PR on the wiki, but I have a fixed version [here](https://github.com/mtoohey31/completion-nvim/wiki/custom-completion-source).

[2021-09-01 08:47] PascalZh commented on #370
I also find another problem.
When `g:completion_enable_server_trigger` is set to 1, and auto popup is enabled (which is default), it will trigger auto pop up even on space, which is annoying.
I find sumneko-lua will provide `'\n', '\t', ' ', ...` as trigger characters. But in VSCode, it will not trigger auto popup.

[2021-09-02 18:53] rlopzc commented on #306
Hi @haorenW1025

I'm using `UltiSnips`, where can I see the configuration for the popup preview you mention?

[2021-09-05 03:13] callb4ck opened #398 "Is it possible to focus the floating window?"
I've seen in a past issue (#10) that this has been removed or replaced with an option that is disabled by default.

The problem is that I couldn't find such option in the help message nor in the pages, and I actually need to be able to scroll in that window

[2021-09-06 16:53] arsham opened #399 "Upstream nvim at 23fe6dba1 breaks tab completion"
**My testing minimal init.vim**
The part of the mapping that is relevant:

[code]

**How to reproduce**
Compile the upstream at [this](https://github.com/neovim/neovim/commit/23fe6dba138859c1c22850b9ce76219141f546a0) commit. Use tab completion.

**Expected behaviour**
Completion popup to show up, but it doesn't.

I can confirm that completion works at [this](https://github.com/neovim/neovim/commit

[2021-09-08 14:11] stormc commented on #399
The handler function's signature in `source/lsp.lua` needs to be updated, possibly adding a backwards-compatible wrapper for neovim versions prior to this commit. As an intermediate hack, this should help:
[code]

[2021-09-15 05:41] #398 closed, assigned to nobody

[2021-09-16 08:38] bramhooimeijer commented on #383
This might not have to do with completion, more with the LSP configuration.
An easy solution is installing this: https://github.com/ray-x/lsp_signature.nvim

[2021-09-18 08:37] ghost opened #401 "Strange completion sorting with right behavior after backspace"
### Relevant information
Nvim v.0.5.0
LuaJIT 2.1.0-beta3
Clangd 12.0.1
### init.vim

inoremap <expr> <Tab>   pumvisible() ? "\<C-n>" : "\<Tab>"
inoremap <expr> <S-Tab> pumvisible() ? "\<C-p>" : "\<S-Tab>"

set relativenumber
set completeopt=menuone,noinsert,noselect
set shortmess+=c
let g:completion_matching_strategy_list = [ 'exact' , 'substring' , 'fuzzy' ]
let g:completion_matching_ignore_case

[2021-09-18 21:31] brainplot opened #402 "`opt.get_option` in `on_attach()` returns `nil` for unset options"
When I try to active `completion-nvim` in my `init.lua` with the `on_attach` function, I get a bunch of errors.

[code]

If we look at the offending line:

https://github.com/nvim-lua/completion-nvim/blob/139fb6cfbd9f7384a5489d3e4afdacb8ed977ab0/lua/completion.lua#L246-L255

`disable_filetypes` which is returned by `get_options` is `nil` the moment `ipairs` is called. I tried to manually edit the

[2021-09-28 16:09] #341 closed

[2021-09-29 00:22] ghost opened #403 "Completion menu not poping up"
**My init.vim**
[code]

**How to reproduce**
Open A file and attempt to write code, I was working on my projects a few days ago and it was working fine, I come back after the latest neovim update to find nothing working. I have tested it and it is the version of neovim which is the issue, so I recommend if anyone else is having this issue please rollback your neovim version, if you are using arch

[2021-09-29 00:24] ghost commented on #403
I have realised that I have not explicitly stated the issue, the completion menu will not pop up when it is supposed to, I presume it is failing to draw to the terminal. Sorry for not being more clear

[2021-09-29 08:51] sergekir commented on #403
https://github.com/nvim-lua/completion-nvim/issues/399#issuecomment-915275356 this solution helped me

[2021-09-29 18:38] mrkz commented on #403
@sergekir I confirm that change also resolved this issue for me. looking forward to the fix 😃

**EDIT**:
Also, wouldn't this be a duplicate of #399 ?

[2021-09-29 18:39] mrkz commented on #399
@stormc thanks for the workaround, looking forward to the fix 😄

[2021-09-30 07:25] stormc commented on #399
@mrkz You're welcome, #400 does also proper-fix hover and signature for which you would have to apply this workaround's gist as well, so I suggest to use that instead of this workaround until it's been merged.

[2021-10-06 10:47] prsh11 opened #405 "No completion"
**My init.vim**
[code]

**How to reproduce**
On pressing tab, don't get autocomplete.

**Expected behavior**
Autocomplete menu appears

[2021-10-06 10:49] Shougo commented on #405
Please read other issues.  Your issue is already duplicated.

https://github.com/nvim-lua/completion-nvim/issues/403
https://github.com/nvim-lua/completion-nvim/issues/399

[2021-10-06 11:00] prsh11 commented on #405
I have tried reading them. I couldn't reproduce from them. Can you tell me what I am doing wrong in my config?

[2021-10-06 11:05] Shougo commented on #405
The important thing is completion-nvim is broken currently.
It is not maintained well.
I recommend for you to use other auto completion plugins instead.

[2021-10-08 00:00] ghost commented on #403
I have yet found the time to check the solution outlined in #399 and #405 is a duplicate.

As for #399 it was not named extremely well for my search parameters and therefore I did not see it. When I get time I will take a look and see if that solution also works for me.

Thank you :)

[2021-10-08 00:02] ghost commented on #405
@notprash

What version of neovim are you running? if you are unsure run `nvim --version`

[2021-10-08 00:07] ghost commented on #405
It is open source however, this therefore means other people could still contribute, there are other auto-completion plugins however some people may not wish to move, and furthermore may prefer this plugin.

As of right now I run v0.5.0, and have neovim ignored by pacman, it does mean I am stuck on an older version and I recommend anyone who does not wish to use another plugin to downgrade their n

[2021-10-08 00:28] Shougo commented on #405
Yes.  You are right. And the fix is already exists.
https://github.com/nvim-lua/completion-nvim/pull/400

But it is not merged yet...  I don't know why.

[2021-10-08 15:25] prsh11 commented on #405
I am using neovim nightly, for treesitter. That's why it's not working